In [128]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re


df = pd.read_csv("/content/marketing_data.csv")

# New Section

In [129]:
df.head()

      ID  Year_Birth   Education  ... Response Complain  Country
0   1826        1970  Graduation  ...        1        0       SP
1      1        1961  Graduation  ...        1        0       CA
2  10476        1958  Graduation  ...        0        0       US
3   1386        1967  Graduation  ...        0        0      AUS
4   5371        1989  Graduation  ...        1        0       SP

[5 rows x 28 columns]

In [130]:
df=df.rename({'Incom':'Income'},axis=1)
df.head()

      ID  Year_Birth   Education  ... Response Complain  Country
0   1826        1970  Graduation  ...        1        0       SP
1      1        1961  Graduation  ...        1        0       CA
2  10476        1958  Graduation  ...        0        0       US
3   1386        1967  Graduation  ...        0        0      AUS
4   5371        1989  Graduation  ...        1        0       SP

[5 rows x 28 columns]

In [131]:
df

         ID  Year_Birth   Education  ... Response Complain  Country
0      1826        1970  Graduation  ...        1        0       SP
1         1        1961  Graduation  ...        1        0       CA
2     10476        1958  Graduation  ...        0        0       US
3      1386        1967  Graduation  ...        0        0      AUS
4      5371        1989  Graduation  ...        1        0       SP
...     ...         ...         ...  ...      ...      ...      ...
2235  10142        1976         PhD  ...        0        0       US
2236   5263        1977    2n Cycle  ...        0        0       SP
2237     22        1976  Graduation  ...        0        0       SP
2238    528        1978  Graduation  ...        0        0      IND
2239   4070        1969         PhD  ...        1        0       CA

[2240 rows x 28 columns]

In [132]:
print (df.columns.tolist())

['ID', 'Year_Birth', 'Education', 'Marital_Status', ' Income ', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response', 'Complain', 'Country']

In [133]:
df=df[["Year_Birth","Education","Marital_Status"," Income ","Kidhome","Teenhome","Recency","MntWines","MntFruits","MntMeatProducts","MntFishProducts","MntSweetProducts","MntGoldProds"]]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [134]:
df=df[df['MntWines'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [135]:
df=df[df['MntFruits'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [136]:
df=df[df['MntMeatProducts'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [137]:
df=df[df['MntFishProducts'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [138]:
df=df[df['MntSweetProducts'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [139]:
df=df[df['MntGoldProds'].notnull()]
df

      Year_Birth   Education  ... MntSweetProducts MntGoldProds
0           1970  Graduation  ...              189          218
1           1961  Graduation  ...                0           37
2           1958  Graduation  ...                2           30
3           1967  Graduation  ...                0            0
4           1989  Graduation  ...                0           34
...          ...         ...  ...              ...          ...
2235        1976         PhD  ...               48           78
2236        1977    2n Cycle  ...                8           16
2237        1976  Graduation  ...                5           14
2238        1978  Graduation  ...              165           63
2239        1969         PhD  ...                0          144

[2240 rows x 13 columns]

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2240 entries, 0 to 2239
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year_Birth        2240 non-null   int64
 1   Education         2240 non-null   object
 2   Marital_Status    2240 non-null   object
 3    Income           2216 non-null   object
 4   Kidhome           2240 non-null   int64
 5   Teenhome          2240 non-null   int64
 6   Recency           2240 non-null   int64
 7   MntWines          2240 non-null   int64
 8   MntFruits         2240 non-null   int64
 9   MntMeatProducts   2240 non-null   int64
 10  MntFishProducts   2240 non-null   int64
 11  MntSweetProducts  2240 non-null   int64
 12  MntGoldProds      2240 non-null   int64
dtypes: int64(10), object(3)
memory usage: 245.0+ KB

In [141]:
cat=df['Education']
cat

0       Graduation
1       Graduation
2       Graduation
3       Graduation
4       Graduation
           ...
2235           PhD
2236      2n Cycle
2237    Graduation
2238    Graduation
2239           PhD
Name: Education, Length: 2240, dtype: object

In [142]:
bat=df['Marital_Status']
bat

0       Divorced
1         Single
2        Married
3       Together
4         Single
          ...
2235    Divorced
2236     Married
2237    Divorced
2238     Married
2239     Married
Name: Marital_Status, Length: 2240, dtype: object

def filter_ferver_people(categeory,threshold):
     catregeory_map={}
     for i in range(len(categeory)):
         if categeory[i]>=99:  
            categeory[i]=1
         else:
            categeory[i]=0  
     return categeory

In [143]:
def filter_education(categeory,threshold1,threshold2,threshold3):
     catregeory_map={}
     for i in range(len(categeory)):
         if categeory[i]==threshold1:  
            categeory[i]=0
         elif categeory[i]==threshold2:
            categeory[i]=1 
         elif categeory[i]==threshold3:
            categeory[i]=2 
         else:
            categeory[i]=3      
     return categeory

In [144]:
threshold1="Graduation"
threshold2="PhD"
threshold3="2n Cycle"
filetered_data=filter_education(cat,threshold1,threshold2,threshold3)
filetered_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

0       0
1       0
2       0
3       0
4       0
       ..
2235    1
2236    2
2237    0
2238    0
2239    1
Name: Education, Length: 2240, dtype: object

In [145]:
def filter_martial_status(categeory,thres1,thres2,thres3):
     catregeory_map={}
     for i in range(len(categeory)):
         if categeory[i]==thres1:  
            categeory[i]=0
         elif categeory[i]==thres2:
            categeory[i]=1 
         elif categeory[i]==thres3:
            categeory[i]=2 
         else:
            categeory[i]=3      
     return categeory

In [146]:
thres1="Divorced"
thres2="Single"
thres3="Together"
fil_data=filter_martial_status(bat,thres1,thres2,thres3)
fil_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

0       0
1       1
2       3
3       2
4       1
       ..
2235    0
2236    3
2237    0
2238    3
2239    3
Name: Marital_Status, Length: 2240, dtype: object

In [147]:

df['Education']= filetered_data
df

      Year_Birth Education  ... MntSweetProducts MntGoldProds
0           1970         0  ...              189          218
1           1961         0  ...                0           37
2           1958         0  ...                2           30
3           1967         0  ...                0            0
4           1989         0  ...                0           34
...          ...       ...  ...              ...          ...
2235        1976         1  ...               48           78
2236        1977         2  ...                8           16
2237        1976         0  ...                5           14
2238        1978         0  ...              165           63
2239        1969         1  ...                0          144

[2240 rows x 13 columns]

In [148]:
df['Marital_Status']= fil_data
df

      Year_Birth Education  ... MntSweetProducts MntGoldProds
0           1970         0  ...              189          218
1           1961         0  ...                0           37
2           1958         0  ...                2           30
3           1967         0  ...                0            0
4           1989         0  ...                0           34
...          ...       ...  ...              ...          ...
2235        1976         1  ...               48           78
2236        1977         2  ...                8           16
2237        1976         0  ...                5           14
2238        1978         0  ...              165           63
2239        1969         1  ...                0          144

[2240 rows x 13 columns]

In [149]:
df=df[df[" Income "].notnull()]
df

      Year_Birth Education  ... MntSweetProducts MntGoldProds
0           1970         0  ...              189          218
1           1961         0  ...                0           37
2           1958         0  ...                2           30
3           1967         0  ...                0            0
4           1989         0  ...                0           34
...          ...       ...  ...              ...          ...
2235        1976         1  ...               48           78
2236        1977         2  ...                8           16
2237        1976         0  ...                5           14
2238        1978         0  ...              165           63
2239        1969         1  ...                0          144

[2216 rows x 13 columns]

In [150]:
sub=df[" Income "]
sub

0       $84,835.00
1       $57,091.00
2       $67,267.00
3       $32,474.00
4       $21,474.00
           ...
2235    $66,476.00
2236    $31,056.00
2237    $46,310.00
2238    $65,819.00
2239    $94,871.00
Name:  Income , Length: 2216, dtype: object

In [151]:
    
catregeory_map={}
the=[]
for x in sub:   
     x=str(x)
     the.append(x)
print(the)

['$84,835.00 ', '$57,091.00 ', '$67,267.00 ', '$32,474.00 ', '$21,474.00 ', '$71,691.00 ', '$63,564.00 ', '$44,931.00 ', '$65,324.00 ', '$65,324.00 ', '$81,044.00 ', '$62,499.00 ', '$67,786.00 ', '$26,872.00 ', '$4,428.00 ', '$54,809.00 ', '$54,809.00 ', '$32,173.00 ', '$47,823.00 ', '$30,523.00 ', '$36,634.00 ', '$43,456.00 ', '$40,662.00 ', '$49,544.00 ', '$57,731.00 ', '$33,168.00 ', '$54,450.00 ', '$54,450.00 ', '$35,340.00 ', '$73,170.00 ', '$65,808.00 ', '$79,529.00 ', '$34,578.00 ', '$46,374.00 ', '$18,351.00 ', '$95,169.00 ', '$65,370.00 ', '$39,228.00 ', '$84,865.00 ', '$61,314.00 ', '$21,359.00 ', '$66,465.00 ', '$81,698.00 ', '$39,146.00 ', '$25,959.00 ', '$64,260.00 ', '$32,300.00 ', '$74,806.00 ', '$72,967.00 ', '$48,904.00 ', '$14,796.00 ', '$66,991.00 ', '$52,195.00 ', '$90,369.00 ', '$18,393.00 ', '$47,139.00 ', '$38,576.00 ', '$61,905.00 ', '$83,715.00 ', '$60,597.00 ', '$6,560.00 ', '$48,330.00 ', '$38,236.00 ', '$22,701.00 ', '$53,367.00 ', '$34,728.00 ', '$63,915.00 ', '$82,504.00 ', '$38,578.00 ', '$38,578.00 ', '$79,174.00 ', '$81,975.00 ', '$43,263.00 ', '$27,242.00 ', '$76,445.00 ', '$75,276.00 ', '$34,213.00 ', '$72,335.00 ', '$79,143.00 ', '$27,469.00 ', '$68,695.00 ', '$68,695.00 ', '$50,388.00 ', '$77,622.00 ', '$46,102.00 ', '$31,859.00 ', '$23,830.00 ', '$24,639.00 ', '$71,604.00 ', '$27,255.00 ', '$55,375.00 ', '$77,037.00 ', '$24,163.00 ', '$69,476.00 ', '$72,063.00 ', '$58,646.00 ', '$58,646.00 ', '$47,570.00 ', '$80,011.00 ', '$54,998.00 ', '$60,200.00 ', '$63,211.00 ', '$48,432.00 ', '$48,432.00 ', '$48,432.00 ', '$62,845.00 ', '$62,845.00 ', '$65,220.00 ', '$74,214.00 ', '$96,547.00 ', '$53,863.00 ', '$50,447.00 ', '$37,716.00 ', '$45,203.00 ', '$37,368.00 ', '$67,225.00 ', '$65,104.00 ', '$65,104.00 ', '$81,698.00 ', '$70,566.00 ', '$69,096.00 ', '$71,434.00 ', '$33,039.00 ', '$33,039.00 ', '$46,610.00 ', '$49,967.00 ', '$53,359.00 ', '$49,505.00 ', '$68,657.00 ', '$72,071.00 ', '$72,071.00 ', '$59,235.00 ', '$21,994.00 ', '$21,994.00 ', '$69,209.00 ', '$31,928.00 ', '$74,004.00 ', '$30,390.00 ', '$21,355.00 ', '$26,304.00 ', '$85,710.00 ', '$102,692.00 ', '$58,350.00 ', '$7,500.00 ', '$18,890.00 ', '$20,425.00 ', '$20,425.00 ', '$41,437.00 ', '$49,912.00 ', '$49,912.00 ', '$79,823.00 ', '$85,683.00 ', '$47,025.00 ', '$68,397.00 ', '$38,175.00 ', '$46,423.00 ', '$46,423.00 ', '$30,560.00 ', '$30,560.00 ', '$60,152.00 ', '$29,672.00 ', '$29,672.00 ', '$70,321.00 ', '$56,181.00 ', '$24,279.00 ', '$68,462.00 ', '$55,424.00 ', '$49,094.00 ', '$59,184.00 ', '$67,430.00 ', '$30,522.00 ', '$31,878.00 ', '$83,528.00 ', '$90,300.00 ', '$68,092.00 ', '$53,761.00 ', '$52,845.00 ', '$24,027.00 ', '$7,500.00 ', '$42,586.00 ', '$42,586.00 ', '$9,722.00 ', '$86,836.00 ', '$30,467.00 ', '$54,549.00 ', '$19,444.00 ', '$69,245.00 ', '$72,968.00 ', '$48,686.00 ', '$73,687.00 ', '$82,716.00 ', '$35,523.00 ', '$60,554.00 ', '$64,090.00 ', '$61,559.00 ', '$71,670.00 ', '$67,680.00 ', '$54,386.00 ', '$64,108.00 ', '$69,702.00 ', '$47,958.00 ', '$67,716.00 ', '$34,600.00 ', '$34,600.00 ', '$48,752.00 ', '$15,716.00 ', '$46,610.00 ', '$74,985.00 ', '$45,576.00 ', '$113,734.00 ', '$57,100.00 ', '$24,434.00 ', '$37,126.00 ', '$45,160.00 ', '$33,178.00 ', '$64,866.00 ', '$34,176.00 ', '$50,014.00 ', '$92,344.00 ', '$55,282.00 ', '$48,799.00 ', '$84,169.00 ', '$84,169.00 ', '$39,763.00 ', '$74,165.00 ', '$42,720.00 ', '$65,275.00 ', '$36,443.00 ', '$43,776.00 ', '$56,046.00 ', '$65,148.00 ', '$49,431.00 ', '$32,583.00 ', '$16,653.00 ', '$26,850.00 ', '$51,287.00 ', '$43,050.00 ', '$73,448.00 ', '$17,256.00 ', '$86,429.00 ', '$33,569.00 ', '$25,130.00 ', '$62,998.00 ', '$26,907.00 ', '$26,907.00 ', '$45,579.00 ', '$47,320.00 ', '$70,179.00 ', '$70,179.00 ', '$28,072.00 ', '$50,501.00 ', '$58,917.00 ', '$69,372.00 ', '$35,178.00 ', '$35,178.00 ', '$75,693.00 ', '$69,109.00 ', '$69,109.00 ', '$80,134.00 ', '$64,713.00 ', '$41,411.00 ', '$55,521.00 ', '$43,795.00 ', '$22,070.00 ', '$36,408.00 ', '$34,026.00 ', '$34,026.00 ', '$46,049.00 ', '$35,641.00 ', '$32,414.00 ', '$59,821.00 ', '$34,968.00 ', '$56,320.00 ', '$70,091.00 ', '$46,097.00 ', '$41,003.00 ', '$44,911.00 ', '$33,249.00 ', '$33,249.00 ', '$42,873.00 ', '$51,039.00 ', '$78,952.00 ', '$29,435.00 ', '$79,865.00 ', '$34,176.00 ', '$34,176.00 ', '$65,968.00 ', '$86,424.00 ', '$67,272.00 ', '$78,499.00 ', '$77,044.00 ', '$70,515.00 ', '$17,459.00 ', '$80,336.00 ', '$15,759.00 ', '$26,326.00 ', '$62,061.00 ', '$5,305.00 ', '$75,777.00 ', '$75,777.00 ', '$71,499.00 ', '$31,626.00 ', '$42,670.00 ', '$83,917.00 ', '$41,021.00 ', '$79,456.00 ', '$78,789.00 ', '$50,870.00 ', '$35,876.00 ', '$23,539.00 ', '$32,557.00 ', '$62,466.00 ', '$62,466.00 ', '$54,198.00 ', '$82,170.00 ', '$61,798.00 ', '$15,253.00 ', '$78,285.00 ', '$62,535.00 ', '$27,190.00 ', '$48,985.00 ', '$72,940.00 ', '$36,145.00 ', '$157,146.00 ', '$81,843.00 ', '$41,883.00 ', '$45,759.00 ', '$45,759.00 ', '$78,394.00 ', '$30,279.00 ', '$30,279.00 ', '$31,880.00 ', '$60,208.00 ', '$78,687.00 ', '$37,401.00 ', '$37,401.00 ', '$75,315.00 ', '$69,263.00 ', '$78,569.00 ', '$57,705.00 ', '$74,805.00 ', '$66,426.00 ', '$51,529.00 ', '$18,100.00 ', '$59,601.00 ', '$20,981.00 ', '$74,068.00 ', '$36,790.00 ', '$18,793.00 ', '$27,421.00 ', '$30,675.00 ', '$83,145.00 ', '$34,053.00 ', '$31,788.00 ', '$45,894.00 ', '$41,986.00 ', '$42,769.00 ', '$58,582.00 ', '$49,096.00 ', '$76,412.00 ', '$18,929.00 ', '$18,929.00 ', '$18,929.00 ', '$21,888.00 ', '$41,580.00 ', '$31,605.00 ', '$25,509.00 ', '$25,509.00 ', '$33,051.00 ', '$28,764.00 ', '$32,146.00 ', '$22,148.00 ', '$36,781.00 ', '$54,197.00 ', '$93,790.00 ', '$24,762.00 ', '$30,477.00 ', '$11,448.00 ', '$70,844.00 ', '$30,828.00 ', '$62,513.00 ', '$27,733.00 ', '$39,435.00 ', '$75,345.00 ', '$20,491.00 ', '$36,715.00 ', '$71,706.00 ', '$69,063.00 ', '$24,645.00 ', '$35,797.00 ', '$44,078.00 ', '$26,954.00 ', '$38,887.00 ', '$65,463.00 ', '$53,537.00 ', '$36,230.00 ', '$80,763.00 ', '$60,585.00 ', '$49,166.00 ', '$75,261.00 ', '$89,891.00 ', '$72,828.00 ', '$75,278.00 ', '$38,557.00 ', '$81,300.00 ', '$60,161.00 ', '$69,389.00 ', '$64,497.00 ', '$61,014.00 ', '$44,319.00 ', '$53,233.00 ', '$77,972.00 ', '$81,361.00 ', '$81,361.00 ', '$25,707.00 ', '$42,403.00 ', '$65,704.00 ', '$37,406.00 ', '$39,767.00 ', '$54,210.00 ', '$57,136.00 ', '$40,794.00 ', '$83,003.00 ', '$89,058.00 ', '$20,193.00 ', '$72,099.00 ', '$43,824.00 ', '$66,653.00 ', '$44,359.00 ', '$79,410.00 ', '$55,842.00 ', '$79,946.00 ', '$88,194.00 ', '$80,184.00 ', '$76,982.00 ', '$65,295.00 ', '$57,100.00 ', '$29,009.00 ', '$78,931.00 ', '$7,500.00 ', '$56,939.00 ', '$64,509.00 ', '$30,093.00 ', '$30,351.00 ', '$30,351.00 ', '$38,201.00 ', '$43,974.00 ', '$38,200.00 ', '$87,305.00 ', '$16,860.00 ', '$27,213.00 ', '$7,500.00 ', '$4,861.00 ', '$38,196.00 ', '$41,145.00 ', '$38,513.00 ', '$45,688.00 ', '$77,863.00 ', '$42,169.00 ', '$45,906.00 ', '$35,388.00 ', '$80,952.00 ', '$39,898.00 ', '$39,898.00 ', '$44,051.00 ', '$86,718.00 ', '$80,141.00 ', '$58,597.00 ', '$70,356.00 ', '$46,904.00 ', '$37,760.00 ', '$37,760.00 ', '$61,839.00 ', '$29,791.00 ', '$48,918.00 ', '$48,918.00 ', '$58,692.00 ', '$39,356.00 ', '$76,234.00 ', '$55,434.00 ', '$66,835.00 ', '$66,835.00 ', '$71,965.00 ', '$74,538.00 ', '$50,002.00 ', '$53,977.00 ', '$53,977.00 ', '$69,930.00 ', '$62,981.00 ', '$46,014.00 ', '$18,227.00 ', '$65,991.00 ', '$38,808.00 ', '$160,803.00 ', '$43,783.00 ', '$30,396.00 ', '$65,526.00 ', '$65,526.00 ', '$55,956.00 ', '$55,563.00 ', '$57,236.00 ', '$89,694.00 ', '$57,420.00 ', '$33,622.00 ', '$29,999.00 ', '$31,497.00 ', '$31,497.00 ', '$36,802.00 ', '$61,671.00 ', '$60,182.00 ', '$29,732.00 ', '$45,921.00 ', '$16,529.00 ', '$98,777.00 ', '$98,777.00 ', '$77,027.00 ', '$69,139.00 ', '$69,139.00 ', '$65,169.00 ', '$40,049.00 ', '$69,755.00 ', '$54,456.00 ', '$666,666.00 ', '$60,689.00 ', '$26,487.00 ', '$28,164.00 ', '$22,585.00 ', '$64,795.00 ', '$42,000.00 ', '$42,000.00 ', '$70,713.00 ', '$82,800.00 ', '$82,800.00 ', '$30,801.00 ', '$83,891.00 ', '$38,054.00 ', '$14,045.00 ', '$44,155.00 ', '$57,642.00 ', '$31,353.00 ', '$31,353.00 ', '$41,335.00 ', '$41,335.00 ', '$40,737.00 ', '$19,789.00 ', '$35,946.00 ', '$36,262.00 ', '$44,551.00 ', '$71,367.00 ', '$71,367.00 ', '$57,957.00 ', '$50,334.00 ', '$48,150.00 ', '$56,796.00 ', '$56,796.00 ', '$52,278.00 ', '$52,278.00 ', '$7,500.00 ', '$33,444.00 ', '$20,895.00 ', '$37,509.00 ', '$88,097.00 ', '$59,041.00 ', '$43,322.00 ', '$46,015.00 ', '$46,015.00 ', '$34,242.00 ', '$65,210.00 ', '$50,520.00 ', '$90,765.00 ', '$80,589.00 ', '$49,572.00 ', '$75,437.00 ', '$44,635.00 ', '$58,512.00 ', '$62,000.00 ', '$54,252.00 ', '$45,068.00 ', '$60,474.00 ', '$60,474.00 ', '$56,337.00 ', '$22,434.00 ', '$61,416.00 ', '$92,163.00 ', '$58,656.00 ', '$8,940.00 ', '$26,751.00 ', '$71,427.00 ', '$26,646.00 ', '$19,346.00 ', '$56,243.00 ', '$59,892.00 ', '$71,613.00 ', '$25,252.00 ', '$42,160.00 ', '$15,862.00 ', '$82,584.00 ', '$38,360.00 ', '$75,283.00 ', '$34,941.00 ', '$61,823.00 ', '$90,226.00 ', '$44,989.00 ', '$44,989.00 ', '$43,586.00 ', '$32,233.00 ', '$62,882.00 ', '$57,288.00 ', '$75,774.00 ', '$75,774.00 ', '$90,247.00 ', '$32,218.00 ', '$84,219.00 ', '$84,219.00 ', '$48,877.00 ', '$60,905.00 ', '$75,236.00 ', '$62,551.00 ', '$70,123.00 ', '$50,785.00 ', '$15,315.00 ', '$15,315.00 ', '$64,413.00 ', '$87,171.00 ', '$30,081.00 ', '$20,180.00 ', '$20,180.00 ', '$55,686.00 ', '$26,887.00 ', '$61,996.00 ', '$51,537.00 ', '$72,025.00 ', '$30,538.00 ', '$61,618.00 ', '$77,343.00 ', '$75,433.00 ', '$82,571.00 ', '$60,033.00 ', '$39,062.00 ', '$30,023.00 ', '$30,015.00 ', '$33,228.00 ', '$22,574.00 ', '$22,574.00 ', '$55,267.00 ', '$66,886.00 ', '$72,258.00 ', '$82,733.00 ', '$45,146.00 ', '$51,250.00 ', '$32,871.00 ', '$63,855.00 ', '$42,564.00 ', '$46,344.00 ', '$50,437.00 ', '$70,971.00 ', '$37,774.00 ', '$4,023.00 ', '$33,279.00 ', '$42,693.00 ', '$70,545.00 ', '$65,486.00 ', '$77,882.00 ', '$78,468.00 ', '$77,226.00 ', '$90,638.00 ', '$90,638.00 ', '$70,666.00 ', '$59,052.00 ', '$13,084.00 ', '$49,160.00 ', '$23,272.00 ', '$49,476.00 ', '$62,694.00 ', '$57,906.00 ', '$71,853.00 ', '$71,853.00 ', '$65,031.00 ', '$30,507.00 ', '$67,419.00 ', '$59,462.00 ', '$95,529.00 ', '$53,653.00 ', '$25,965.00 ', '$22,979.00 ', '$64,950.00 ', '$44,322.00 ', '$30,096.00 ', '$30,096.00 ', '$56,628.00 ', '$82,326.00 ', '$71,163.00 ', '$71,022.00 ', '$42,607.00 ', '$43,057.00 ', '$47,808.00 ', '$29,236.00 ', '$40,590.00 ', '$40,590.00 ', '$77,520.00 ', '$40,211.00 ', '$63,516.00 ', '$53,034.00 ', '$22,669.00 ', '$79,908.00 ', '$69,867.00 ', '$70,287.00 ', '$37,070.00 ', '$37,070.00 ', '$38,179.00 ', '$39,922.00 ', '$39,922.00 ', '$39,922.00 ', '$64,191.00 ', '$41,658.00 ', '$40,780.00 ', '$77,568.00 ', '$66,503.00 ', '$83,512.00 ', '$31,686.00 ', '$71,322.00 ', '$27,938.00 ', '$22,263.00 ', '$34,633.00 ', '$42,162.00 ', '$162,397.00 ', '$54,162.00 ', '$41,769.00 ', '$44,953.00 ', '$37,717.00 ', '$37,717.00 ', '$40,548.00 ', '$67,893.00 ', '$69,267.00 ', '$9,548.00 ', '$68,281.00 ', '$92,556.00 ', '$48,526.00 ', '$90,273.00 ', '$19,414.00 ', '$79,761.00 ', '$53,312.00 ', '$41,039.00 ', '$88,347.00 ', '$50,150.00 ', '$50,150.00 ', '$10,245.00 ', '$33,454.00 ', '$40,887.00 ', '$55,914.00 ', '$37,292.00 ', '$52,914.00 ', '$24,884.00 ', '$67,384.00 ', '$51,651.00 ', '$82,497.00 ', '$32,632.00 ', '$33,562.00 ', '$79,146.00 ', '$79,146.00 ', '$36,143.00 ', '$27,159.00 ', '$41,275.00 ', '$76,800.00 ', '$75,794.00 ', '$30,833.00 ', '$26,518.00 ', '$91,065.00 ', '$45,183.00 ', '$48,070.00 ', '$30,372.00 ', '$30,372.00 ', '$57,036.00 ', '$66,731.00 ', '$35,682.00 ', '$10,979.00 ', '$10,979.00 ', '$57,912.00 ', '$36,026.00 ', '$35,788.00 ', '$42,243.00 ', '$46,086.00 ', '$61,346.00 ', '$33,316.00 ', '$33,316.00 ', '$21,063.00 ', '$33,697.00 ', '$25,804.00 ', '$72,117.00 ', '$61,286.00 ', '$61,286.00 ', '$65,196.00 ', '$55,635.00 ', '$42,021.00 ', '$75,251.00 ', '$35,322.00 ', '$53,374.00 ', '$87,195.00 ', '$42,395.00 ', '$82,427.00 ', '$44,602.00 ', '$94,642.00 ', '$28,359.00 ', '$55,801.00 ', '$92,955.00 ', '$56,534.00 ', '$69,627.00 ', '$78,579.00 ', '$44,964.00 ', '$30,899.00 ', '$78,825.00 ', '$25,545.00 ', '$47,111.00 ', '$49,667.00 ', '$66,000.00 ', '$46,910.00 ', '$25,224.00 ', '$77,382.00 ', '$28,420.00 ', '$32,952.00 ', '$46,149.00 ', '$83,532.00 ', '$73,059.00 ', '$73,059.00 ', '$35,701.00 ', '$89,616.00 ', '$105,471.00 ', '$78,427.00 ', '$22,518.00 ', '$59,809.00 ', '$39,660.00 ', '$52,203.00 ', '$35,860.00 ', '$35,860.00 ', '$35,860.00 ', '$35,860.00 ', '$76,842.00 ', '$15,033.00 ', '$67,353.00 ', '$17,003.00 ', '$65,735.00 ', '$45,684.00 ', '$21,918.00 ', '$51,267.00 ', '$59,868.00 ', '$51,373.00 ', '$46,692.00 ', '$157,733.00 ', '$54,432.00 ', '$79,607.00 ', '$51,813.00 ', '$17,487.00 ', '$40,706.00 ', '$62,859.00 ', '$61,074.00 ', '$43,638.00 ', '$58,116.00 ', '$62,187.00 ', '$46,344.00 ', '$77,353.00 ', '$69,759.00 ', '$21,846.00 ', '$76,532.00 ', '$70,053.00 ', '$75,342.00 ', '$27,590.00 ', '$51,148.00 ', '$33,378.00 ', '$32,644.00 ', '$33,581.00 ', '$12,393.00 ', '$42,710.00 ', '$82,347.00 ', '$82,347.00 ', '$22,554.00 ', '$17,323.00 ', '$62,204.00 ', '$78,028.00 ', '$63,887.00 ', '$32,727.00 ', '$29,103.00 ', '$61,482.00 ', '$20,587.00 ', '$20,587.00 ', '$52,190.00 ', '$48,186.00 ', '$19,329.00 ', '$34,109.00 ', '$23,477.00 ', '$47,472.00 ', '$14,849.00 ', '$26,224.00 ', '$27,238.00 ', '$57,967.00 ', '$51,569.00 ', '$72,550.00 ', '$44,511.00 ', '$62,972.00 ', '$62,972.00 ', '$77,845.00 ', '$36,663.00 ', '$53,204.00 ', '$21,059.00 ', '$67,087.00 ', '$73,892.00 ', '$75,114.00 ', '$42,192.00 ', '$31,454.00 ', '$22,775.00 ', '$22,775.00 ', '$31,590.00 ', '$80,134.00 ', '$80,134.00 ', '$14,188.00 ', '$18,169.00 ', '$62,503.00 ', '$46,734.00 ', '$68,126.00 ', '$52,869.00 ', '$26,576.00 ', '$75,825.00 ', '$57,045.00 ', '$34,984.00 ', '$27,803.00 ', '$69,283.00 ', '$18,746.00 ', '$70,924.00 ', '$70,924.00 ', '$69,401.00 ', '$75,012.00 ', '$85,738.00 ', '$60,934.00 ', '$27,161.00 ', '$64,325.00 ', '$18,978.00 ', '$41,124.00 ', '$39,684.00 ', '$53,378.00 ', '$37,040.00 ', '$78,710.00 ', '$92,910.00 ', '$36,283.00 ', '$79,632.00 ', '$28,587.00 ', '$88,325.00 ', '$51,412.00 ', '$63,998.00 ', '$38,593.00 ', '$27,889.00 ', '$45,889.00 ', '$56,575.00 ', '$16,014.00 ', '$61,331.00 ', '$70,893.00 ', '$2,447.00 ', '$64,849.00 ', '$42,387.00 ', '$80,617.00 ', '$54,006.00 ', '$16,531.00 ', '$30,843.00 ', '$18,988.00 ', '$81,051.00 ', '$39,747.00 ', '$34,554.00 ', '$52,854.00 ', '$81,205.00 ', '$69,084.00 ', '$69,084.00 ', '$65,352.00 ', '$22,063.00 ', '$47,691.00 ', '$29,187.00 ', '$72,504.00 ', '$33,986.00 ', '$42,386.00 ', '$42,386.00 ', '$36,957.00 ', '$13,724.00 ', '$42,664.00 ', '$37,334.00 ', '$78,497.00 ', '$78,497.00 ', '$58,821.00 ', '$58,398.00 ', '$80,950.00 ', '$30,732.00 ', '$89,572.00 ', '$57,107.00 ', '$76,467.00 ', '$51,315.00 ', '$43,602.00 ', '$38,643.00 ', '$49,090.00 ', '$70,617.00 ', '$67,536.00 ', '$27,573.00 ', '$13,533.00 ', '$50,725.00 ', '$25,851.00 ', '$57,113.00 ', '$62,847.00 ', '$68,627.00 ', '$25,271.00 ', '$63,810.00 ', '$63,810.00 ', '$65,488.00 ', '$36,927.00 ', '$22,108.00 ', '$72,025.00 ', '$33,183.00 ', '$23,661.00 ', '$25,315.00 ', '$45,938.00 ', '$66,951.00 ', '$77,298.00 ', '$77,298.00 ', '$43,018.00 ', '$75,759.00 ', '$33,996.00 ', '$33,996.00 ', '$54,137.00 ', '$61,223.00 ', '$69,674.00 ', '$49,494.00 ', '$51,195.00 ', '$37,284.00 ', '$37,284.00 ', '$42,011.00 ', '$70,044.00 ', '$46,053.00 ', '$24,480.00 ', '$54,233.00 ', '$36,130.00 ', '$56,559.00 ', '$92,859.00 ', '$44,010.00 ', '$80,124.00 ', '$80,124.00 ', '$50,183.00 ', '$64,722.00 ', '$37,395.00 ', '$29,543.00 ', '$19,514.00 ', '$19,514.00 ', '$59,481.00 ', '$91,712.00 ', '$80,144.00 ', '$59,973.00 ', '$68,352.00 ', '$81,169.00 ', '$61,456.00 ', '$22,634.00 ', '$22,634.00 ', '$23,957.00 ', '$33,471.00 ', '$52,157.00 ', '$30,298.00 ', '$56,551.00 ', '$56,551.00 ', '$65,487.00 ', '$65,487.00 ', '$44,213.00 ', '$40,344.00 ', '$57,867.00 ', '$25,410.00 ', '$13,260.00 ', '$42,691.00 ', '$36,138.00 ', '$57,136.00 ', '$58,275.00 ', '$54,237.00 ', '$34,596.00 ', '$34,596.00 ', '$74,881.00 ', '$74,881.00 ', '$44,267.00 ', '$68,487.00 ', '$68,487.00 ', '$80,982.00 ', '$69,508.00 ', '$63,342.00 ', '$63,342.00 ', '$82,014.00 ', '$76,320.00 ', '$64,587.00 ', '$74,190.00 ', '$32,765.00 ', '$22,212.00 ', '$18,358.00 ', '$26,067.00 ', '$22,390.00 ', '$70,440.00 ', '$60,199.00 ', '$38,547.00 ', '$19,107.00 ', '$37,929.00 ', '$16,813.00 ', '$62,187.00 ', '$57,811.00 ', '$50,943.00 ', '$50,943.00 ', '$53,201.00 ', '$54,414.00 ', '$26,290.00 ', '$61,250.00 ', '$28,389.00 ', '$55,250.00 ', '$37,758.00 ', '$37,758.00 ', '$37,633.00 ', '$33,629.00 ', '$36,947.00 ', '$69,142.00 ', '$53,154.00 ', '$65,695.00 ', '$69,805.00 ', '$36,975.00 ', '$26,228.00 ', '$37,787.00 ', '$37,087.00 ', '$57,247.00 ', '$36,930.00 ', '$48,721.00 ', '$43,641.00 ', '$75,903.00 ', '$71,391.00 ', '$16,927.00 ', '$27,215.00 ', '$53,858.00 ', '$30,983.00 ', '$43,462.00 ', '$63,943.00 ', '$26,816.00 ', '$75,484.00 ', '$33,564.00 ', '$54,348.00 ', '$54,984.00 ', '$34,738.00 ', '$68,118.00 ', '$68,118.00 ', '$22,682.00 ', '$51,948.00 ', '$25,293.00 ', '$25,293.00 ', '$41,551.00 ', '$56,067.00 ', '$67,433.00 ', '$22,010.00 ', '$64,831.00 ', '$62,820.00 ', '$62,820.00 ', '$78,353.00 ', '$57,183.00 ', '$23,478.00 ', '$30,168.00 ', '$37,155.00 ', '$16,581.00 ', '$41,850.00 ', '$81,380.00 ', '$56,386.00 ', '$25,818.00 ', '$15,345.00 ', '$57,954.00 ', '$50,300.00 ', '$38,725.00 ', '$10,404.00 ', '$26,868.00 ', '$72,298.00 ', '$72,905.00 ', '$47,025.00 ', '$29,938.00 ', '$46,681.00 ', '$46,681.00 ', '$29,548.00 ', '$62,058.00 ', '$36,736.00 ', '$8,820.00 ', '$14,918.00 ', '$56,715.00 ', '$24,882.00 ', '$24,882.00 ', '$40,442.00 ', '$64,176.00 ', '$23,536.00 ', '$35,246.00 ', '$28,442.00 ', '$48,195.00 ', '$74,116.00 ', '$78,093.00 ', '$59,354.00 ', '$36,301.00 ', '$77,598.00 ', '$62,710.00 ', '$36,317.00 ', '$42,767.00 ', '$43,815.00 ', '$44,421.00 ', '$48,948.00 ', '$48,948.00 ', '$63,120.00 ', '$55,517.00 ', '$36,864.00 ', '$82,582.00 ', '$79,803.00 ', '$52,569.00 ', '$82,032.00 ', '$82,032.00 ', '$65,685.00 ', '$65,685.00 ', '$40,451.00 ', '$31,163.00 ', '$31,163.00 ', '$35,704.00 ', '$7,500.00 ', '$36,075.00 ', '$70,038.00 ', '$70,038.00 ', '$71,796.00 ', '$47,821.00 ', '$45,503.00 ', '$28,647.00 ', '$37,760.00 ', '$85,431.00 ', '$72,635.00 ', '$72,635.00 ', '$77,142.00 ', '$53,172.00 ', '$36,065.00 ', '$73,926.00 ', '$35,790.00 ', '$39,552.00 ', '$68,316.00 ', '$102,160.00 ', '$51,390.00 ', '$72,066.00 ', '$21,675.00 ', '$48,006.00 ', '$65,106.00 ', '$58,401.00 ', '$29,315.00 ', '$49,389.00 ', '$51,717.00 ', '$46,779.00 ', '$28,520.00 ', '$34,377.00 ', '$54,959.00 ', '$82,384.00 ', '$46,998.00 ', '$58,554.00 ', '$58,554.00 ', '$57,333.00 ', '$80,685.00 ', '$52,117.00 ', '$62,220.00 ', '$64,014.00 ', '$64,014.00 ', '$46,390.00 ', '$75,507.00 ', '$75,507.00 ', '$59,412.00 ', '$50,616.00 ', '$35,924.00 ', '$57,937.00 ', '$73,356.00 ', '$21,255.00 ', '$58,494.00 ', '$72,460.00 ', '$68,682.00 ', '$68,682.00 ', '$36,959.00 ', '$46,463.00 ', '$61,825.00 ', '$61,825.00 ', '$28,691.00 ', '$28,691.00 ', '$54,058.00 ', '$84,196.00 ', '$38,620.00 ', '$38,620.00 ', '$3,502.00 ', '$47,743.00 ', '$80,360.00 ', '$66,303.00 ', '$52,413.00 ', '$60,714.00 ', '$31,385.00 ', '$83,257.00 ', '$80,427.00 ', '$38,823.00 ', '$42,014.00 ', '$42,014.00 ', '$76,140.00 ', '$41,713.00 ', '$62,670.00 ', '$70,932.00 ', '$78,939.00 ', '$44,512.00 ', '$63,967.00 ', '$90,842.00 ', '$25,358.00 ', '$28,567.00 ', '$66,373.00 ', '$66,373.00 ', '$83,844.00 ', '$83,844.00 ', '$83,844.00 ', '$83,664.00 ', '$27,450.00 ', '$54,880.00 ', '$71,322.00 ', '$60,000.00 ', '$65,176.00 ', '$61,010.00 ', '$31,089.00 ', '$20,518.00 ', '$34,469.00 ', '$28,332.00 ', '$33,456.00 ', '$38,443.00 ', '$65,333.00 ', '$82,623.00 ', '$73,691.00 ', '$74,485.00 ', '$65,748.00 ', '$24,367.00 ', '$91,700.00 ', '$79,244.00 ', '$82,017.00 ', '$58,138.00 ', '$59,354.00 ', '$58,482.00 ', '$29,478.00 ', '$64,474.00 

In [152]:
final=[]
for x in the:
    fin=x.split("$")
    final.append(fin[1])


print(final)

['84,835.00 ', '57,091.00 ', '67,267.00 ', '32,474.00 ', '21,474.00 ', '71,691.00 ', '63,564.00 ', '44,931.00 ', '65,324.00 ', '65,324.00 ', '81,044.00 ', '62,499.00 ', '67,786.00 ', '26,872.00 ', '4,428.00 ', '54,809.00 ', '54,809.00 ', '32,173.00 ', '47,823.00 ', '30,523.00 ', '36,634.00 ', '43,456.00 ', '40,662.00 ', '49,544.00 ', '57,731.00 ', '33,168.00 ', '54,450.00 ', '54,450.00 ', '35,340.00 ', '73,170.00 ', '65,808.00 ', '79,529.00 ', '34,578.00 ', '46,374.00 ', '18,351.00 ', '95,169.00 ', '65,370.00 ', '39,228.00 ', '84,865.00 ', '61,314.00 ', '21,359.00 ', '66,465.00 ', '81,698.00 ', '39,146.00 ', '25,959.00 ', '64,260.00 ', '32,300.00 ', '74,806.00 ', '72,967.00 ', '48,904.00 ', '14,796.00 ', '66,991.00 ', '52,195.00 ', '90,369.00 ', '18,393.00 ', '47,139.00 ', '38,576.00 ', '61,905.00 ', '83,715.00 ', '60,597.00 ', '6,560.00 ', '48,330.00 ', '38,236.00 ', '22,701.00 ', '53,367.00 ', '34,728.00 ', '63,915.00 ', '82,504.00 ', '38,578.00 ', '38,578.00 ', '79,174.00 ', '81,975.00 ', '43,263.00 ', '27,242.00 ', '76,445.00 ', '75,276.00 ', '34,213.00 ', '72,335.00 ', '79,143.00 ', '27,469.00 ', '68,695.00 ', '68,695.00 ', '50,388.00 ', '77,622.00 ', '46,102.00 ', '31,859.00 ', '23,830.00 ', '24,639.00 ', '71,604.00 ', '27,255.00 ', '55,375.00 ', '77,037.00 ', '24,163.00 ', '69,476.00 ', '72,063.00 ', '58,646.00 ', '58,646.00 ', '47,570.00 ', '80,011.00 ', '54,998.00 ', '60,200.00 ', '63,211.00 ', '48,432.00 ', '48,432.00 ', '48,432.00 ', '62,845.00 ', '62,845.00 ', '65,220.00 ', '74,214.00 ', '96,547.00 ', '53,863.00 ', '50,447.00 ', '37,716.00 ', '45,203.00 ', '37,368.00 ', '67,225.00 ', '65,104.00 ', '65,104.00 ', '81,698.00 ', '70,566.00 ', '69,096.00 ', '71,434.00 ', '33,039.00 ', '33,039.00 ', '46,610.00 ', '49,967.00 ', '53,359.00 ', '49,505.00 ', '68,657.00 ', '72,071.00 ', '72,071.00 ', '59,235.00 ', '21,994.00 ', '21,994.00 ', '69,209.00 ', '31,928.00 ', '74,004.00 ', '30,390.00 ', '21,355.00 ', '26,304.00 ', '85,710.00 ', '102,692.00 ', '58,350.00 ', '7,500.00 ', '18,890.00 ', '20,425.00 ', '20,425.00 ', '41,437.00 ', '49,912.00 ', '49,912.00 ', '79,823.00 ', '85,683.00 ', '47,025.00 ', '68,397.00 ', '38,175.00 ', '46,423.00 ', '46,423.00 ', '30,560.00 ', '30,560.00 ', '60,152.00 ', '29,672.00 ', '29,672.00 ', '70,321.00 ', '56,181.00 ', '24,279.00 ', '68,462.00 ', '55,424.00 ', '49,094.00 ', '59,184.00 ', '67,430.00 ', '30,522.00 ', '31,878.00 ', '83,528.00 ', '90,300.00 ', '68,092.00 ', '53,761.00 ', '52,845.00 ', '24,027.00 ', '7,500.00 ', '42,586.00 ', '42,586.00 ', '9,722.00 ', '86,836.00 ', '30,467.00 ', '54,549.00 ', '19,444.00 ', '69,245.00 ', '72,968.00 ', '48,686.00 ', '73,687.00 ', '82,716.00 ', '35,523.00 ', '60,554.00 ', '64,090.00 ', '61,559.00 ', '71,670.00 ', '67,680.00 ', '54,386.00 ', '64,108.00 ', '69,702.00 ', '47,958.00 ', '67,716.00 ', '34,600.00 ', '34,600.00 ', '48,752.00 ', '15,716.00 ', '46,610.00 ', '74,985.00 ', '45,576.00 ', '113,734.00 ', '57,100.00 ', '24,434.00 ', '37,126.00 ', '45,160.00 ', '33,178.00 ', '64,866.00 ', '34,176.00 ', '50,014.00 ', '92,344.00 ', '55,282.00 ', '48,799.00 ', '84,169.00 ', '84,169.00 ', '39,763.00 ', '74,165.00 ', '42,720.00 ', '65,275.00 ', '36,443.00 ', '43,776.00 ', '56,046.00 ', '65,148.00 ', '49,431.00 ', '32,583.00 ', '16,653.00 ', '26,850.00 ', '51,287.00 ', '43,050.00 ', '73,448.00 ', '17,256.00 ', '86,429.00 ', '33,569.00 ', '25,130.00 ', '62,998.00 ', '26,907.00 ', '26,907.00 ', '45,579.00 ', '47,320.00 ', '70,179.00 ', '70,179.00 ', '28,072.00 ', '50,501.00 ', '58,917.00 ', '69,372.00 ', '35,178.00 ', '35,178.00 ', '75,693.00 ', '69,109.00 ', '69,109.00 ', '80,134.00 ', '64,713.00 ', '41,411.00 ', '55,521.00 ', '43,795.00 ', '22,070.00 ', '36,408.00 ', '34,026.00 ', '34,026.00 ', '46,049.00 ', '35,641.00 ', '32,414.00 ', '59,821.00 ', '34,968.00 ', '56,320.00 ', '70,091.00 ', '46,097.00 ', '41,003.00 ', '44,911.00 ', '33,249.00 ', '33,249.00 ', '42,873.00 ', '51,039.00 ', '78,952.00 ', '29,435.00 ', '79,865.00 ', '34,176.00 ', '34,176.00 ', '65,968.00 ', '86,424.00 ', '67,272.00 ', '78,499.00 ', '77,044.00 ', '70,515.00 ', '17,459.00 ', '80,336.00 ', '15,759.00 ', '26,326.00 ', '62,061.00 ', '5,305.00 ', '75,777.00 ', '75,777.00 ', '71,499.00 ', '31,626.00 ', '42,670.00 ', '83,917.00 ', '41,021.00 ', '79,456.00 ', '78,789.00 ', '50,870.00 ', '35,876.00 ', '23,539.00 ', '32,557.00 ', '62,466.00 ', '62,466.00 ', '54,198.00 ', '82,170.00 ', '61,798.00 ', '15,253.00 ', '78,285.00 ', '62,535.00 ', '27,190.00 ', '48,985.00 ', '72,940.00 ', '36,145.00 ', '157,146.00 ', '81,843.00 ', '41,883.00 ', '45,759.00 ', '45,759.00 ', '78,394.00 ', '30,279.00 ', '30,279.00 ', '31,880.00 ', '60,208.00 ', '78,687.00 ', '37,401.00 ', '37,401.00 ', '75,315.00 ', '69,263.00 ', '78,569.00 ', '57,705.00 ', '74,805.00 ', '66,426.00 ', '51,529.00 ', '18,100.00 ', '59,601.00 ', '20,981.00 ', '74,068.00 ', '36,790.00 ', '18,793.00 ', '27,421.00 ', '30,675.00 ', '83,145.00 ', '34,053.00 ', '31,788.00 ', '45,894.00 ', '41,986.00 ', '42,769.00 ', '58,582.00 ', '49,096.00 ', '76,412.00 ', '18,929.00 ', '18,929.00 ', '18,929.00 ', '21,888.00 ', '41,580.00 ', '31,605.00 ', '25,509.00 ', '25,509.00 ', '33,051.00 ', '28,764.00 ', '32,146.00 ', '22,148.00 ', '36,781.00 ', '54,197.00 ', '93,790.00 ', '24,762.00 ', '30,477.00 ', '11,448.00 ', '70,844.00 ', '30,828.00 ', '62,513.00 ', '27,733.00 ', '39,435.00 ', '75,345.00 ', '20,491.00 ', '36,715.00 ', '71,706.00 ', '69,063.00 ', '24,645.00 ', '35,797.00 ', '44,078.00 ', '26,954.00 ', '38,887.00 ', '65,463.00 ', '53,537.00 ', '36,230.00 ', '80,763.00 ', '60,585.00 ', '49,166.00 ', '75,261.00 ', '89,891.00 ', '72,828.00 ', '75,278.00 ', '38,557.00 ', '81,300.00 ', '60,161.00 ', '69,389.00 ', '64,497.00 ', '61,014.00 ', '44,319.00 ', '53,233.00 ', '77,972.00 ', '81,361.00 ', '81,361.00 ', '25,707.00 ', '42,403.00 ', '65,704.00 ', '37,406.00 ', '39,767.00 ', '54,210.00 ', '57,136.00 ', '40,794.00 ', '83,003.00 ', '89,058.00 ', '20,193.00 ', '72,099.00 ', '43,824.00 ', '66,653.00 ', '44,359.00 ', '79,410.00 ', '55,842.00 ', '79,946.00 ', '88,194.00 ', '80,184.00 ', '76,982.00 ', '65,295.00 ', '57,100.00 ', '29,009.00 ', '78,931.00 ', '7,500.00 ', '56,939.00 ', '64,509.00 ', '30,093.00 ', '30,351.00 ', '30,351.00 ', '38,201.00 ', '43,974.00 ', '38,200.00 ', '87,305.00 ', '16,860.00 ', '27,213.00 ', '7,500.00 ', '4,861.00 ', '38,196.00 ', '41,145.00 ', '38,513.00 ', '45,688.00 ', '77,863.00 ', '42,169.00 ', '45,906.00 ', '35,388.00 ', '80,952.00 ', '39,898.00 ', '39,898.00 ', '44,051.00 ', '86,718.00 ', '80,141.00 ', '58,597.00 ', '70,356.00 ', '46,904.00 ', '37,760.00 ', '37,760.00 ', '61,839.00 ', '29,791.00 ', '48,918.00 ', '48,918.00 ', '58,692.00 ', '39,356.00 ', '76,234.00 ', '55,434.00 ', '66,835.00 ', '66,835.00 ', '71,965.00 ', '74,538.00 ', '50,002.00 ', '53,977.00 ', '53,977.00 ', '69,930.00 ', '62,981.00 ', '46,014.00 ', '18,227.00 ', '65,991.00 ', '38,808.00 ', '160,803.00 ', '43,783.00 ', '30,396.00 ', '65,526.00 ', '65,526.00 ', '55,956.00 ', '55,563.00 ', '57,236.00 ', '89,694.00 ', '57,420.00 ', '33,622.00 ', '29,999.00 ', '31,497.00 ', '31,497.00 ', '36,802.00 ', '61,671.00 ', '60,182.00 ', '29,732.00 ', '45,921.00 ', '16,529.00 ', '98,777.00 ', '98,777.00 ', '77,027.00 ', '69,139.00 ', '69,139.00 ', '65,169.00 ', '40,049.00 ', '69,755.00 ', '54,456.00 ', '666,666.00 ', '60,689.00 ', '26,487.00 ', '28,164.00 ', '22,585.00 ', '64,795.00 ', '42,000.00 ', '42,000.00 ', '70,713.00 ', '82,800.00 ', '82,800.00 ', '30,801.00 ', '83,891.00 ', '38,054.00 ', '14,045.00 ', '44,155.00 ', '57,642.00 ', '31,353.00 ', '31,353.00 ', '41,335.00 ', '41,335.00 ', '40,737.00 ', '19,789.00 ', '35,946.00 ', '36,262.00 ', '44,551.00 ', '71,367.00 ', '71,367.00 ', '57,957.00 ', '50,334.00 ', '48,150.00 ', '56,796.00 ', '56,796.00 ', '52,278.00 ', '52,278.00 ', '7,500.00 ', '33,444.00 ', '20,895.00 ', '37,509.00 ', '88,097.00 ', '59,041.00 ', '43,322.00 ', '46,015.00 ', '46,015.00 ', '34,242.00 ', '65,210.00 ', '50,520.00 ', '90,765.00 ', '80,589.00 ', '49,572.00 ', '75,437.00 ', '44,635.00 ', '58,512.00 ', '62,000.00 ', '54,252.00 ', '45,068.00 ', '60,474.00 ', '60,474.00 ', '56,337.00 ', '22,434.00 ', '61,416.00 ', '92,163.00 ', '58,656.00 ', '8,940.00 ', '26,751.00 ', '71,427.00 ', '26,646.00 ', '19,346.00 ', '56,243.00 ', '59,892.00 ', '71,613.00 ', '25,252.00 ', '42,160.00 ', '15,862.00 ', '82,584.00 ', '38,360.00 ', '75,283.00 ', '34,941.00 ', '61,823.00 ', '90,226.00 ', '44,989.00 ', '44,989.00 ', '43,586.00 ', '32,233.00 ', '62,882.00 ', '57,288.00 ', '75,774.00 ', '75,774.00 ', '90,247.00 ', '32,218.00 ', '84,219.00 ', '84,219.00 ', '48,877.00 ', '60,905.00 ', '75,236.00 ', '62,551.00 ', '70,123.00 ', '50,785.00 ', '15,315.00 ', '15,315.00 ', '64,413.00 ', '87,171.00 ', '30,081.00 ', '20,180.00 ', '20,180.00 ', '55,686.00 ', '26,887.00 ', '61,996.00 ', '51,537.00 ', '72,025.00 ', '30,538.00 ', '61,618.00 ', '77,343.00 ', '75,433.00 ', '82,571.00 ', '60,033.00 ', '39,062.00 ', '30,023.00 ', '30,015.00 ', '33,228.00 ', '22,574.00 ', '22,574.00 ', '55,267.00 ', '66,886.00 ', '72,258.00 ', '82,733.00 ', '45,146.00 ', '51,250.00 ', '32,871.00 ', '63,855.00 ', '42,564.00 ', '46,344.00 ', '50,437.00 ', '70,971.00 ', '37,774.00 ', '4,023.00 ', '33,279.00 ', '42,693.00 ', '70,545.00 ', '65,486.00 ', '77,882.00 ', '78,468.00 ', '77,226.00 ', '90,638.00 ', '90,638.00 ', '70,666.00 ', '59,052.00 ', '13,084.00 ', '49,160.00 ', '23,272.00 ', '49,476.00 ', '62,694.00 ', '57,906.00 ', '71,853.00 ', '71,853.00 ', '65,031.00 ', '30,507.00 ', '67,419.00 ', '59,462.00 ', '95,529.00 ', '53,653.00 ', '25,965.00 ', '22,979.00 ', '64,950.00 ', '44,322.00 ', '30,096.00 ', '30,096.00 ', '56,628.00 ', '82,326.00 ', '71,163.00 ', '71,022.00 ', '42,607.00 ', '43,057.00 ', '47,808.00 ', '29,236.00 ', '40,590.00 ', '40,590.00 ', '77,520.00 ', '40,211.00 ', '63,516.00 ', '53,034.00 ', '22,669.00 ', '79,908.00 ', '69,867.00 ', '70,287.00 ', '37,070.00 ', '37,070.00 ', '38,179.00 ', '39,922.00 ', '39,922.00 ', '39,922.00 ', '64,191.00 ', '41,658.00 ', '40,780.00 ', '77,568.00 ', '66,503.00 ', '83,512.00 ', '31,686.00 ', '71,322.00 ', '27,938.00 ', '22,263.00 ', '34,633.00 ', '42,162.00 ', '162,397.00 ', '54,162.00 ', '41,769.00 ', '44,953.00 ', '37,717.00 ', '37,717.00 ', '40,548.00 ', '67,893.00 ', '69,267.00 ', '9,548.00 ', '68,281.00 ', '92,556.00 ', '48,526.00 ', '90,273.00 ', '19,414.00 ', '79,761.00 ', '53,312.00 ', '41,039.00 ', '88,347.00 ', '50,150.00 ', '50,150.00 ', '10,245.00 ', '33,454.00 ', '40,887.00 ', '55,914.00 ', '37,292.00 ', '52,914.00 ', '24,884.00 ', '67,384.00 ', '51,651.00 ', '82,497.00 ', '32,632.00 ', '33,562.00 ', '79,146.00 ', '79,146.00 ', '36,143.00 ', '27,159.00 ', '41,275.00 ', '76,800.00 ', '75,794.00 ', '30,833.00 ', '26,518.00 ', '91,065.00 ', '45,183.00 ', '48,070.00 ', '30,372.00 ', '30,372.00 ', '57,036.00 ', '66,731.00 ', '35,682.00 ', '10,979.00 ', '10,979.00 ', '57,912.00 ', '36,026.00 ', '35,788.00 ', '42,243.00 ', '46,086.00 ', '61,346.00 ', '33,316.00 ', '33,316.00 ', '21,063.00 ', '33,697.00 ', '25,804.00 ', '72,117.00 ', '61,286.00 ', '61,286.00 ', '65,196.00 ', '55,635.00 ', '42,021.00 ', '75,251.00 ', '35,322.00 ', '53,374.00 ', '87,195.00 ', '42,395.00 ', '82,427.00 ', '44,602.00 ', '94,642.00 ', '28,359.00 ', '55,801.00 ', '92,955.00 ', '56,534.00 ', '69,627.00 ', '78,579.00 ', '44,964.00 ', '30,899.00 ', '78,825.00 ', '25,545.00 ', '47,111.00 ', '49,667.00 ', '66,000.00 ', '46,910.00 ', '25,224.00 ', '77,382.00 ', '28,420.00 ', '32,952.00 ', '46,149.00 ', '83,532.00 ', '73,059.00 ', '73,059.00 ', '35,701.00 ', '89,616.00 ', '105,471.00 ', '78,427.00 ', '22,518.00 ', '59,809.00 ', '39,660.00 ', '52,203.00 ', '35,860.00 ', '35,860.00 ', '35,860.00 ', '35,860.00 ', '76,842.00 ', '15,033.00 ', '67,353.00 ', '17,003.00 ', '65,735.00 ', '45,684.00 ', '21,918.00 ', '51,267.00 ', '59,868.00 ', '51,373.00 ', '46,692.00 ', '157,733.00 ', '54,432.00 ', '79,607.00 ', '51,813.00 ', '17,487.00 ', '40,706.00 ', '62,859.00 ', '61,074.00 ', '43,638.00 ', '58,116.00 ', '62,187.00 ', '46,344.00 ', '77,353.00 ', '69,759.00 ', '21,846.00 ', '76,532.00 ', '70,053.00 ', '75,342.00 ', '27,590.00 ', '51,148.00 ', '33,378.00 ', '32,644.00 ', '33,581.00 ', '12,393.00 ', '42,710.00 ', '82,347.00 ', '82,347.00 ', '22,554.00 ', '17,323.00 ', '62,204.00 ', '78,028.00 ', '63,887.00 ', '32,727.00 ', '29,103.00 ', '61,482.00 ', '20,587.00 ', '20,587.00 ', '52,190.00 ', '48,186.00 ', '19,329.00 ', '34,109.00 ', '23,477.00 ', '47,472.00 ', '14,849.00 ', '26,224.00 ', '27,238.00 ', '57,967.00 ', '51,569.00 ', '72,550.00 ', '44,511.00 ', '62,972.00 ', '62,972.00 ', '77,845.00 ', '36,663.00 ', '53,204.00 ', '21,059.00 ', '67,087.00 ', '73,892.00 ', '75,114.00 ', '42,192.00 ', '31,454.00 ', '22,775.00 ', '22,775.00 ', '31,590.00 ', '80,134.00 ', '80,134.00 ', '14,188.00 ', '18,169.00 ', '62,503.00 ', '46,734.00 ', '68,126.00 ', '52,869.00 ', '26,576.00 ', '75,825.00 ', '57,045.00 ', '34,984.00 ', '27,803.00 ', '69,283.00 ', '18,746.00 ', '70,924.00 ', '70,924.00 ', '69,401.00 ', '75,012.00 ', '85,738.00 ', '60,934.00 ', '27,161.00 ', '64,325.00 ', '18,978.00 ', '41,124.00 ', '39,684.00 ', '53,378.00 ', '37,040.00 ', '78,710.00 ', '92,910.00 ', '36,283.00 ', '79,632.00 ', '28,587.00 ', '88,325.00 ', '51,412.00 ', '63,998.00 ', '38,593.00 ', '27,889.00 ', '45,889.00 ', '56,575.00 ', '16,014.00 ', '61,331.00 ', '70,893.00 ', '2,447.00 ', '64,849.00 ', '42,387.00 ', '80,617.00 ', '54,006.00 ', '16,531.00 ', '30,843.00 ', '18,988.00 ', '81,051.00 ', '39,747.00 ', '34,554.00 ', '52,854.00 ', '81,205.00 ', '69,084.00 ', '69,084.00 ', '65,352.00 ', '22,063.00 ', '47,691.00 ', '29,187.00 ', '72,504.00 ', '33,986.00 ', '42,386.00 ', '42,386.00 ', '36,957.00 ', '13,724.00 ', '42,664.00 ', '37,334.00 ', '78,497.00 ', '78,497.00 ', '58,821.00 ', '58,398.00 ', '80,950.00 ', '30,732.00 ', '89,572.00 ', '57,107.00 ', '76,467.00 ', '51,315.00 ', '43,602.00 ', '38,643.00 ', '49,090.00 ', '70,617.00 ', '67,536.00 ', '27,573.00 ', '13,533.00 ', '50,725.00 ', '25,851.00 ', '57,113.00 ', '62,847.00 ', '68,627.00 ', '25,271.00 ', '63,810.00 ', '63,810.00 ', '65,488.00 ', '36,927.00 ', '22,108.00 ', '72,025.00 ', '33,183.00 ', '23,661.00 ', '25,315.00 ', '45,938.00 ', '66,951.00 ', '77,298.00 ', '77,298.00 ', '43,018.00 ', '75,759.00 ', '33,996.00 ', '33,996.00 ', '54,137.00 ', '61,223.00 ', '69,674.00 ', '49,494.00 ', '51,195.00 ', '37,284.00 ', '37,284.00 ', '42,011.00 ', '70,044.00 ', '46,053.00 ', '24,480.00 ', '54,233.00 ', '36,130.00 ', '56,559.00 ', '92,859.00 ', '44,010.00 ', '80,124.00 ', '80,124.00 ', '50,183.00 ', '64,722.00 ', '37,395.00 ', '29,543.00 ', '19,514.00 ', '19,514.00 ', '59,481.00 ', '91,712.00 ', '80,144.00 ', '59,973.00 ', '68,352.00 ', '81,169.00 ', '61,456.00 ', '22,634.00 ', '22,634.00 ', '23,957.00 ', '33,471.00 ', '52,157.00 ', '30,298.00 ', '56,551.00 ', '56,551.00 ', '65,487.00 ', '65,487.00 ', '44,213.00 ', '40,344.00 ', '57,867.00 ', '25,410.00 ', '13,260.00 ', '42,691.00 ', '36,138.00 ', '57,136.00 ', '58,275.00 ', '54,237.00 ', '34,596.00 ', '34,596.00 ', '74,881.00 ', '74,881.00 ', '44,267.00 ', '68,487.00 ', '68,487.00 ', '80,982.00 ', '69,508.00 ', '63,342.00 ', '63,342.00 ', '82,014.00 ', '76,320.00 ', '64,587.00 ', '74,190.00 ', '32,765.00 ', '22,212.00 ', '18,358.00 ', '26,067.00 ', '22,390.00 ', '70,440.00 ', '60,199.00 ', '38,547.00 ', '19,107.00 ', '37,929.00 ', '16,813.00 ', '62,187.00 ', '57,811.00 ', '50,943.00 ', '50,943.00 ', '53,201.00 ', '54,414.00 ', '26,290.00 ', '61,250.00 ', '28,389.00 ', '55,250.00 ', '37,758.00 ', '37,758.00 ', '37,633.00 ', '33,629.00 ', '36,947.00 ', '69,142.00 ', '53,154.00 ', '65,695.00 ', '69,805.00 ', '36,975.00 ', '26,228.00 ', '37,787.00 ', '37,087.00 ', '57,247.00 ', '36,930.00 ', '48,721.00 ', '43,641.00 ', '75,903.00 ', '71,391.00 ', '16,927.00 ', '27,215.00 ', '53,858.00 ', '30,983.00 ', '43,462.00 ', '63,943.00 ', '26,816.00 ', '75,484.00 ', '33,564.00 ', '54,348.00 ', '54,984.00 ', '34,738.00 ', '68,118.00 ', '68,118.00 ', '22,682.00 ', '51,948.00 ', '25,293.00 ', '25,293.00 ', '41,551.00 ', '56,067.00 ', '67,433.00 ', '22,010.00 ', '64,831.00 ', '62,820.00 ', '62,820.00 ', '78,353.00 ', '57,183.00 ', '23,478.00 ', '30,168.00 ', '37,155.00 ', '16,581.00 ', '41,850.00 ', '81,380.00 ', '56,386.00 ', '25,818.00 ', '15,345.00 ', '57,954.00 ', '50,300.00 ', '38,725.00 ', '10,404.00 ', '26,868.00 ', '72,298.00 ', '72,905.00 ', '47,025.00 ', '29,938.00 ', '46,681.00 ', '46,681.00 ', '29,548.00 ', '62,058.00 ', '36,736.00 ', '8,820.00 ', '14,918.00 ', '56,715.00 ', '24,882.00 ', '24,882.00 ', '40,442.00 ', '64,176.00 ', '23,536.00 ', '35,246.00 ', '28,442.00 ', '48,195.00 ', '74,116.00 ', '78,093.00 ', '59,354.00 ', '36,301.00 ', '77,598.00 ', '62,710.00 ', '36,317.00 ', '42,767.00 ', '43,815.00 ', '44,421.00 ', '48,948.00 ', '48,948.00 ', '63,120.00 ', '55,517.00 ', '36,864.00 ', '82,582.00 ', '79,803.00 ', '52,569.00 ', '82,032.00 ', '82,032.00 ', '65,685.00 ', '65,685.00 ', '40,451.00 ', '31,163.00 ', '31,163.00 ', '35,704.00 ', '7,500.00 ', '36,075.00 ', '70,038.00 ', '70,038.00 ', '71,796.00 ', '47,821.00 ', '45,503.00 ', '28,647.00 ', '37,760.00 ', '85,431.00 ', '72,635.00 ', '72,635.00 ', '77,142.00 ', '53,172.00 ', '36,065.00 ', '73,926.00 ', '35,790.00 ', '39,552.00 ', '68,316.00 ', '102,160.00 ', '51,390.00 ', '72,066.00 ', '21,675.00 ', '48,006.00 ', '65,106.00 ', '58,401.00 ', '29,315.00 ', '49,389.00 ', '51,717.00 ', '46,779.00 ', '28,520.00 ', '34,377.00 ', '54,959.00 ', '82,384.00 ', '46,998.00 ', '58,554.00 ', '58,554.00 ', '57,333.00 ', '80,685.00 ', '52,117.00 ', '62,220.00 ', '64,014.00 ', '64,014.00 ', '46,390.00 ', '75,507.00 ', '75,507.00 ', '59,412.00 ', '50,616.00 ', '35,924.00 ', '57,937.00 ', '73,356.00 ', '21,255.00 ', '58,494.00 ', '72,460.00 ', '68,682.00 ', '68,682.00 ', '36,959.00 ', '46,463.00 ', '61,825.00 ', '61,825.00 ', '28,691.00 ', '28,691.00 ', '54,058.00 ', '84,196.00 ', '38,620.00 ', '38,620.00 ', '3,502.00 ', '47,743.00 ', '80,360.00 ', '66,303.00 ', '52,413.00 ', '60,714.00 ', '31,385.00 ', '83,257.00 ', '80,427.00 ', '38,823.00 ', '42,014.00 ', '42,014.00 ', '76,140.00 ', '41,713.00 ', '62,670.00 ', '70,932.00 ', '78,939.00 ', '44,512.00 ', '63,967.00 ', '90,842.00 ', '25,358.00 ', '28,567.00 ', '66,373.00 ', '66,373.00 ', '83,844.00 ', '83,844.00 ', '83,844.00 ', '83,664.00 ', '27,450.00 ', '54,880.00 ', '71,322.00 ', '60,000.00 ', '65,176.00 ', '61,010.00 ', '31,089.00 ', '20,518.00 ', '34,469.00 ', '28,332.00 ', '33,456.00 ', '38,443.00 ', '65,333.00 ', '82,623.00 ', '73,691.00 ', '74,485.00 ', '65,748.00 ', '24,367.00 ', '91,700.00 ', '79,244.00 ', '82,017.00 ', '58,138.00 ', '59,354.00 ', '58,482.00 ', '29,478.00 ', '64,474.00 ', '31,160.00 ', '40,321.00 ', '40,321.00 ', '55,239.00 ', '57,513.00 ', '85,693.00 ', '71,855.00 ', '7,500.00 ', '71,969.00 ', '28,973.00 ', '80,872.00 ', '84,117.00 ', '38,741.00 ', '38,961.00 ', '75,922.00 ', '56,962.00 ', '56,962.00 ', '70,165.00 ', '65,308.00 ', '29,298.00 ', '63,246.00 ', '33,402.00 ', '96,843.00 ', '82,333.00 ', '72,643.00 ', '32,313.00 ', '55,284.00 ', '15,287.00 ', '15,287.00 ', '51,563.00 ', '81,929.00 ', '53,593.00 ', '60,432.00 ', '66,726.00 ', '62,450.00 ', '49,514.00 ', '43,269.00 ', '33,762.00 ', '60,894.00 ', '87,771.00 ', '87,771.00 ', '50,737.00 ', '26,150.00 ', '57,304.00 ', '71,107.00 ', '53,253.00 ', '81,320.00 ', '87,000.00 ', '40,049.00 ', '63,684.00 ', '69,016.00 ', '7,500.00 ', '73,803.00 ', '46,094.00 ', '85,844.00 ', '38,452.00 ', '38,452.00 ', '80,395.00 ', '87,679.00 ', '35,416.00 ', '44,124.00 ', '50,729.00 ', '94,384.00 ', '94,384.00 ', '34,412.00 ', '31,158.00 ', '34,838.00 ', '56,775.00 ', '54,356.00 ', '72,159.00 ', '8,028.00 ', '55,951.00 ', '67,911.00 ', '67,911.00 ', '20,427.00 ', '32,303.00 ', '55,954.00 ', '49,187.00 ', '49,854.00 ', '63,693.00 ', '63,693.00 ', '19,510.00 ', '52,332.00 ', '55,593.00 ', '54,591.00 ', '74,859.00 ', '40,851.00 ', '58,607.00 ', '7,500.00 ', '52,614.00 ', '52,614.00 ', '67,445.00 ', '67,445.00 ', '67,445.00 ', '36,778.00 ', '39,4

In [153]:
last=[]

for x in final:
   las=x.split(" ")
   last.append(las[0])

print(last)

['84,835.00', '57,091.00', '67,267.00', '32,474.00', '21,474.00', '71,691.00', '63,564.00', '44,931.00', '65,324.00', '65,324.00', '81,044.00', '62,499.00', '67,786.00', '26,872.00', '4,428.00', '54,809.00', '54,809.00', '32,173.00', '47,823.00', '30,523.00', '36,634.00', '43,456.00', '40,662.00', '49,544.00', '57,731.00', '33,168.00', '54,450.00', '54,450.00', '35,340.00', '73,170.00', '65,808.00', '79,529.00', '34,578.00', '46,374.00', '18,351.00', '95,169.00', '65,370.00', '39,228.00', '84,865.00', '61,314.00', '21,359.00', '66,465.00', '81,698.00', '39,146.00', '25,959.00', '64,260.00', '32,300.00', '74,806.00', '72,967.00', '48,904.00', '14,796.00', '66,991.00', '52,195.00', '90,369.00', '18,393.00', '47,139.00', '38,576.00', '61,905.00', '83,715.00', '60,597.00', '6,560.00', '48,330.00', '38,236.00', '22,701.00', '53,367.00', '34,728.00', '63,915.00', '82,504.00', '38,578.00', '38,578.00', '79,174.00', '81,975.00', '43,263.00', '27,242.00', '76,445.00', '75,276.00', '34,213.00', '72,335.00', '79,143.00', '27,469.00', '68,695.00', '68,695.00', '50,388.00', '77,622.00', '46,102.00', '31,859.00', '23,830.00', '24,639.00', '71,604.00', '27,255.00', '55,375.00', '77,037.00', '24,163.00', '69,476.00', '72,063.00', '58,646.00', '58,646.00', '47,570.00', '80,011.00', '54,998.00', '60,200.00', '63,211.00', '48,432.00', '48,432.00', '48,432.00', '62,845.00', '62,845.00', '65,220.00', '74,214.00', '96,547.00', '53,863.00', '50,447.00', '37,716.00', '45,203.00', '37,368.00', '67,225.00', '65,104.00', '65,104.00', '81,698.00', '70,566.00', '69,096.00', '71,434.00', '33,039.00', '33,039.00', '46,610.00', '49,967.00', '53,359.00', '49,505.00', '68,657.00', '72,071.00', '72,071.00', '59,235.00', '21,994.00', '21,994.00', '69,209.00', '31,928.00', '74,004.00', '30,390.00', '21,355.00', '26,304.00', '85,710.00', '102,692.00', '58,350.00', '7,500.00', '18,890.00', '20,425.00', '20,425.00', '41,437.00', '49,912.00', '49,912.00', '79,823.00', '85,683.00', '47,025.00', '68,397.00', '38,175.00', '46,423.00', '46,423.00', '30,560.00', '30,560.00', '60,152.00', '29,672.00', '29,672.00', '70,321.00', '56,181.00', '24,279.00', '68,462.00', '55,424.00', '49,094.00', '59,184.00', '67,430.00', '30,522.00', '31,878.00', '83,528.00', '90,300.00', '68,092.00', '53,761.00', '52,845.00', '24,027.00', '7,500.00', '42,586.00', '42,586.00', '9,722.00', '86,836.00', '30,467.00', '54,549.00', '19,444.00', '69,245.00', '72,968.00', '48,686.00', '73,687.00', '82,716.00', '35,523.00', '60,554.00', '64,090.00', '61,559.00', '71,670.00', '67,680.00', '54,386.00', '64,108.00', '69,702.00', '47,958.00', '67,716.00', '34,600.00', '34,600.00', '48,752.00', '15,716.00', '46,610.00', '74,985.00', '45,576.00', '113,734.00', '57,100.00', '24,434.00', '37,126.00', '45,160.00', '33,178.00', '64,866.00', '34,176.00', '50,014.00', '92,344.00', '55,282.00', '48,799.00', '84,169.00', '84,169.00', '39,763.00', '74,165.00', '42,720.00', '65,275.00', '36,443.00', '43,776.00', '56,046.00', '65,148.00', '49,431.00', '32,583.00', '16,653.00', '26,850.00', '51,287.00', '43,050.00', '73,448.00', '17,256.00', '86,429.00', '33,569.00', '25,130.00', '62,998.00', '26,907.00', '26,907.00', '45,579.00', '47,320.00', '70,179.00', '70,179.00', '28,072.00', '50,501.00', '58,917.00', '69,372.00', '35,178.00', '35,178.00', '75,693.00', '69,109.00', '69,109.00', '80,134.00', '64,713.00', '41,411.00', '55,521.00', '43,795.00', '22,070.00', '36,408.00', '34,026.00', '34,026.00', '46,049.00', '35,641.00', '32,414.00', '59,821.00', '34,968.00', '56,320.00', '70,091.00', '46,097.00', '41,003.00', '44,911.00', '33,249.00', '33,249.00', '42,873.00', '51,039.00', '78,952.00', '29,435.00', '79,865.00', '34,176.00', '34,176.00', '65,968.00', '86,424.00', '67,272.00', '78,499.00', '77,044.00', '70,515.00', '17,459.00', '80,336.00', '15,759.00', '26,326.00', '62,061.00', '5,305.00', '75,777.00', '75,777.00', '71,499.00', '31,626.00', '42,670.00', '83,917.00', '41,021.00', '79,456.00', '78,789.00', '50,870.00', '35,876.00', '23,539.00', '32,557.00', '62,466.00', '62,466.00', '54,198.00', '82,170.00', '61,798.00', '15,253.00', '78,285.00', '62,535.00', '27,190.00', '48,985.00', '72,940.00', '36,145.00', '157,146.00', '81,843.00', '41,883.00', '45,759.00', '45,759.00', '78,394.00', '30,279.00', '30,279.00', '31,880.00', '60,208.00', '78,687.00', '37,401.00', '37,401.00', '75,315.00', '69,263.00', '78,569.00', '57,705.00', '74,805.00', '66,426.00', '51,529.00', '18,100.00', '59,601.00', '20,981.00', '74,068.00', '36,790.00', '18,793.00', '27,421.00', '30,675.00', '83,145.00', '34,053.00', '31,788.00', '45,894.00', '41,986.00', '42,769.00', '58,582.00', '49,096.00', '76,412.00', '18,929.00', '18,929.00', '18,929.00', '21,888.00', '41,580.00', '31,605.00', '25,509.00', '25,509.00', '33,051.00', '28,764.00', '32,146.00', '22,148.00', '36,781.00', '54,197.00', '93,790.00', '24,762.00', '30,477.00', '11,448.00', '70,844.00', '30,828.00', '62,513.00', '27,733.00', '39,435.00', '75,345.00', '20,491.00', '36,715.00', '71,706.00', '69,063.00', '24,645.00', '35,797.00', '44,078.00', '26,954.00', '38,887.00', '65,463.00', '53,537.00', '36,230.00', '80,763.00', '60,585.00', '49,166.00', '75,261.00', '89,891.00', '72,828.00', '75,278.00', '38,557.00', '81,300.00', '60,161.00', '69,389.00', '64,497.00', '61,014.00', '44,319.00', '53,233.00', '77,972.00', '81,361.00', '81,361.00', '25,707.00', '42,403.00', '65,704.00', '37,406.00', '39,767.00', '54,210.00', '57,136.00', '40,794.00', '83,003.00', '89,058.00', '20,193.00', '72,099.00', '43,824.00', '66,653.00', '44,359.00', '79,410.00', '55,842.00', '79,946.00', '88,194.00', '80,184.00', '76,982.00', '65,295.00', '57,100.00', '29,009.00', '78,931.00', '7,500.00', '56,939.00', '64,509.00', '30,093.00', '30,351.00', '30,351.00', '38,201.00', '43,974.00', '38,200.00', '87,305.00', '16,860.00', '27,213.00', '7,500.00', '4,861.00', '38,196.00', '41,145.00', '38,513.00', '45,688.00', '77,863.00', '42,169.00', '45,906.00', '35,388.00', '80,952.00', '39,898.00', '39,898.00', '44,051.00', '86,718.00', '80,141.00', '58,597.00', '70,356.00', '46,904.00', '37,760.00', '37,760.00', '61,839.00', '29,791.00', '48,918.00', '48,918.00', '58,692.00', '39,356.00', '76,234.00', '55,434.00', '66,835.00', '66,835.00', '71,965.00', '74,538.00', '50,002.00', '53,977.00', '53,977.00', '69,930.00', '62,981.00', '46,014.00', '18,227.00', '65,991.00', '38,808.00', '160,803.00', '43,783.00', '30,396.00', '65,526.00', '65,526.00', '55,956.00', '55,563.00', '57,236.00', '89,694.00', '57,420.00', '33,622.00', '29,999.00', '31,497.00', '31,497.00', '36,802.00', '61,671.00', '60,182.00', '29,732.00', '45,921.00', '16,529.00', '98,777.00', '98,777.00', '77,027.00', '69,139.00', '69,139.00', '65,169.00', '40,049.00', '69,755.00', '54,456.00', '666,666.00', '60,689.00', '26,487.00', '28,164.00', '22,585.00', '64,795.00', '42,000.00', '42,000.00', '70,713.00', '82,800.00', '82,800.00', '30,801.00', '83,891.00', '38,054.00', '14,045.00', '44,155.00', '57,642.00', '31,353.00', '31,353.00', '41,335.00', '41,335.00', '40,737.00', '19,789.00', '35,946.00', '36,262.00', '44,551.00', '71,367.00', '71,367.00', '57,957.00', '50,334.00', '48,150.00', '56,796.00', '56,796.00', '52,278.00', '52,278.00', '7,500.00', '33,444.00', '20,895.00', '37,509.00', '88,097.00', '59,041.00', '43,322.00', '46,015.00', '46,015.00', '34,242.00', '65,210.00', '50,520.00', '90,765.00', '80,589.00', '49,572.00', '75,437.00', '44,635.00', '58,512.00', '62,000.00', '54,252.00', '45,068.00', '60,474.00', '60,474.00', '56,337.00', '22,434.00', '61,416.00', '92,163.00', '58,656.00', '8,940.00', '26,751.00', '71,427.00', '26,646.00', '19,346.00', '56,243.00', '59,892.00', '71,613.00', '25,252.00', '42,160.00', '15,862.00', '82,584.00', '38,360.00', '75,283.00', '34,941.00', '61,823.00', '90,226.00', '44,989.00', '44,989.00', '43,586.00', '32,233.00', '62,882.00', '57,288.00', '75,774.00', '75,774.00', '90,247.00', '32,218.00', '84,219.00', '84,219.00', '48,877.00', '60,905.00', '75,236.00', '62,551.00', '70,123.00', '50,785.00', '15,315.00', '15,315.00', '64,413.00', '87,171.00', '30,081.00', '20,180.00', '20,180.00', '55,686.00', '26,887.00', '61,996.00', '51,537.00', '72,025.00', '30,538.00', '61,618.00', '77,343.00', '75,433.00', '82,571.00', '60,033.00', '39,062.00', '30,023.00', '30,015.00', '33,228.00', '22,574.00', '22,574.00', '55,267.00', '66,886.00', '72,258.00', '82,733.00', '45,146.00', '51,250.00', '32,871.00', '63,855.00', '42,564.00', '46,344.00', '50,437.00', '70,971.00', '37,774.00', '4,023.00', '33,279.00', '42,693.00', '70,545.00', '65,486.00', '77,882.00', '78,468.00', '77,226.00', '90,638.00', '90,638.00', '70,666.00', '59,052.00', '13,084.00', '49,160.00', '23,272.00', '49,476.00', '62,694.00', '57,906.00', '71,853.00', '71,853.00', '65,031.00', '30,507.00', '67,419.00', '59,462.00', '95,529.00', '53,653.00', '25,965.00', '22,979.00', '64,950.00', '44,322.00', '30,096.00', '30,096.00', '56,628.00', '82,326.00', '71,163.00', '71,022.00', '42,607.00', '43,057.00', '47,808.00', '29,236.00', '40,590.00', '40,590.00', '77,520.00', '40,211.00', '63,516.00', '53,034.00', '22,669.00', '79,908.00', '69,867.00', '70,287.00', '37,070.00', '37,070.00', '38,179.00', '39,922.00', '39,922.00', '39,922.00', '64,191.00', '41,658.00', '40,780.00', '77,568.00', '66,503.00', '83,512.00', '31,686.00', '71,322.00', '27,938.00', '22,263.00', '34,633.00', '42,162.00', '162,397.00', '54,162.00', '41,769.00', '44,953.00', '37,717.00', '37,717.00', '40,548.00', '67,893.00', '69,267.00', '9,548.00', '68,281.00', '92,556.00', '48,526.00', '90,273.00', '19,414.00', '79,761.00', '53,312.00', '41,039.00', '88,347.00', '50,150.00', '50,150.00', '10,245.00', '33,454.00', '40,887.00', '55,914.00', '37,292.00', '52,914.00', '24,884.00', '67,384.00', '51,651.00', '82,497.00', '32,632.00', '33,562.00', '79,146.00', '79,146.00', '36,143.00', '27,159.00', '41,275.00', '76,800.00', '75,794.00', '30,833.00', '26,518.00', '91,065.00', '45,183.00', '48,070.00', '30,372.00', '30,372.00', '57,036.00', '66,731.00', '35,682.00', '10,979.00', '10,979.00', '57,912.00', '36,026.00', '35,788.00', '42,243.00', '46,086.00', '61,346.00', '33,316.00', '33,316.00', '21,063.00', '33,697.00', '25,804.00', '72,117.00', '61,286.00', '61,286.00', '65,196.00', '55,635.00', '42,021.00', '75,251.00', '35,322.00', '53,374.00', '87,195.00', '42,395.00', '82,427.00', '44,602.00', '94,642.00', '28,359.00', '55,801.00', '92,955.00', '56,534.00', '69,627.00', '78,579.00', '44,964.00', '30,899.00', '78,825.00', '25,545.00', '47,111.00', '49,667.00', '66,000.00', '46,910.00', '25,224.00', '77,382.00', '28,420.00', '32,952.00', '46,149.00', '83,532.00', '73,059.00', '73,059.00', '35,701.00', '89,616.00', '105,471.00', '78,427.00', '22,518.00', '59,809.00', '39,660.00', '52,203.00', '35,860.00', '35,860.00', '35,860.00', '35,860.00', '76,842.00', '15,033.00', '67,353.00', '17,003.00', '65,735.00', '45,684.00', '21,918.00', '51,267.00', '59,868.00', '51,373.00', '46,692.00', '157,733.00', '54,432.00', '79,607.00', '51,813.00', '17,487.00', '40,706.00', '62,859.00', '61,074.00', '43,638.00', '58,116.00', '62,187.00', '46,344.00', '77,353.00', '69,759.00', '21,846.00', '76,532.00', '70,053.00', '75,342.00', '27,590.00', '51,148.00', '33,378.00', '32,644.00', '33,581.00', '12,393.00', '42,710.00', '82,347.00', '82,347.00', '22,554.00', '17,323.00', '62,204.00', '78,028.00', '63,887.00', '32,727.00', '29,103.00', '61,482.00', '20,587.00', '20,587.00', '52,190.00', '48,186.00', '19,329.00', '34,109.00', '23,477.00', '47,472.00', '14,849.00', '26,224.00', '27,238.00', '57,967.00', '51,569.00', '72,550.00', '44,511.00', '62,972.00', '62,972.00', '77,845.00', '36,663.00', '53,204.00', '21,059.00', '67,087.00', '73,892.00', '75,114.00', '42,192.00', '31,454.00', '22,775.00', '22,775.00', '31,590.00', '80,134.00', '80,134.00', '14,188.00', '18,169.00', '62,503.00', '46,734.00', '68,126.00', '52,869.00', '26,576.00', '75,825.00', '57,045.00', '34,984.00', '27,803.00', '69,283.00', '18,746.00', '70,924.00', '70,924.00', '69,401.00', '75,012.00', '85,738.00', '60,934.00', '27,161.00', '64,325.00', '18,978.00', '41,124.00', '39,684.00', '53,378.00', '37,040.00', '78,710.00', '92,910.00', '36,283.00', '79,632.00', '28,587.00', '88,325.00', '51,412.00', '63,998.00', '38,593.00', '27,889.00', '45,889.00', '56,575.00', '16,014.00', '61,331.00', '70,893.00', '2,447.00', '64,849.00', '42,387.00', '80,617.00', '54,006.00', '16,531.00', '30,843.00', '18,988.00', '81,051.00', '39,747.00', '34,554.00', '52,854.00', '81,205.00', '69,084.00', '69,084.00', '65,352.00', '22,063.00', '47,691.00', '29,187.00', '72,504.00', '33,986.00', '42,386.00', '42,386.00', '36,957.00', '13,724.00', '42,664.00', '37,334.00', '78,497.00', '78,497.00', '58,821.00', '58,398.00', '80,950.00', '30,732.00', '89,572.00', '57,107.00', '76,467.00', '51,315.00', '43,602.00', '38,643.00', '49,090.00', '70,617.00', '67,536.00', '27,573.00', '13,533.00', '50,725.00', '25,851.00', '57,113.00', '62,847.00', '68,627.00', '25,271.00', '63,810.00', '63,810.00', '65,488.00', '36,927.00', '22,108.00', '72,025.00', '33,183.00', '23,661.00', '25,315.00', '45,938.00', '66,951.00', '77,298.00', '77,298.00', '43,018.00', '75,759.00', '33,996.00', '33,996.00', '54,137.00', '61,223.00', '69,674.00', '49,494.00', '51,195.00', '37,284.00', '37,284.00', '42,011.00', '70,044.00', '46,053.00', '24,480.00', '54,233.00', '36,130.00', '56,559.00', '92,859.00', '44,010.00', '80,124.00', '80,124.00', '50,183.00', '64,722.00', '37,395.00', '29,543.00', '19,514.00', '19,514.00', '59,481.00', '91,712.00', '80,144.00', '59,973.00', '68,352.00', '81,169.00', '61,456.00', '22,634.00', '22,634.00', '23,957.00', '33,471.00', '52,157.00', '30,298.00', '56,551.00', '56,551.00', '65,487.00', '65,487.00', '44,213.00', '40,344.00', '57,867.00', '25,410.00', '13,260.00', '42,691.00', '36,138.00', '57,136.00', '58,275.00', '54,237.00', '34,596.00', '34,596.00', '74,881.00', '74,881.00', '44,267.00', '68,487.00', '68,487.00', '80,982.00', '69,508.00', '63,342.00', '63,342.00', '82,014.00', '76,320.00', '64,587.00', '74,190.00', '32,765.00', '22,212.00', '18,358.00', '26,067.00', '22,390.00', '70,440.00', '60,199.00', '38,547.00', '19,107.00', '37,929.00', '16,813.00', '62,187.00', '57,811.00', '50,943.00', '50,943.00', '53,201.00', '54,414.00', '26,290.00', '61,250.00', '28,389.00', '55,250.00', '37,758.00', '37,758.00', '37,633.00', '33,629.00', '36,947.00', '69,142.00', '53,154.00', '65,695.00', '69,805.00', '36,975.00', '26,228.00', '37,787.00', '37,087.00', '57,247.00', '36,930.00', '48,721.00', '43,641.00', '75,903.00', '71,391.00', '16,927.00', '27,215.00', '53,858.00', '30,983.00', '43,462.00', '63,943.00', '26,816.00', '75,484.00', '33,564.00', '54,348.00', '54,984.00', '34,738.00', '68,118.00', '68,118.00', '22,682.00', '51,948.00', '25,293.00', '25,293.00', '41,551.00', '56,067.00', '67,433.00', '22,010.00', '64,831.00', '62,820.00', '62,820.00', '78,353.00', '57,183.00', '23,478.00', '30,168.00', '37,155.00', '16,581.00', '41,850.00', '81,380.00', '56,386.00', '25,818.00', '15,345.00', '57,954.00', '50,300.00', '38,725.00', '10,404.00', '26,868.00', '72,298.00', '72,905.00', '47,025.00', '29,938.00', '46,681.00', '46,681.00', '29,548.00', '62,058.00', '36,736.00', '8,820.00', '14,918.00', '56,715.00', '24,882.00', '24,882.00', '40,442.00', '64,176.00', '23,536.00', '35,246.00', '28,442.00', '48,195.00', '74,116.00', '78,093.00', '59,354.00', '36,301.00', '77,598.00', '62,710.00', '36,317.00', '42,767.00', '43,815.00', '44,421.00', '48,948.00', '48,948.00', '63,120.00', '55,517.00', '36,864.00', '82,582.00', '79,803.00', '52,569.00', '82,032.00', '82,032.00', '65,685.00', '65,685.00', '40,451.00', '31,163.00', '31,163.00', '35,704.00', '7,500.00', '36,075.00', '70,038.00', '70,038.00', '71,796.00', '47,821.00', '45,503.00', '28,647.00', '37,760.00', '85,431.00', '72,635.00', '72,635.00', '77,142.00', '53,172.00', '36,065.00', '73,926.00', '35,790.00', '39,552.00', '68,316.00', '102,160.00', '51,390.00', '72,066.00', '21,675.00', '48,006.00', '65,106.00', '58,401.00', '29,315.00', '49,389.00', '51,717.00', '46,779.00', '28,520.00', '34,377.00', '54,959.00', '82,384.00', '46,998.00', '58,554.00', '58,554.00', '57,333.00', '80,685.00', '52,117.00', '62,220.00', '64,014.00', '64,014.00', '46,390.00', '75,507.00', '75,507.00', '59,412.00', '50,616.00', '35,924.00', '57,937.00', '73,356.00', '21,255.00', '58,494.00', '72,460.00', '68,682.00', '68,682.00', '36,959.00', '46,463.00', '61,825.00', '61,825.00', '28,691.00', '28,691.00', '54,058.00', '84,196.00', '38,620.00', '38,620.00', '3,502.00', '47,743.00', '80,360.00', '66,303.00', '52,413.00', '60,714.00', '31,385.00', '83,257.00', '80,427.00', '38,823.00', '42,014.00', '42,014.00', '76,140.00', '41,713.00', '62,670.00', '70,932.00', '78,939.00', '44,512.00', '63,967.00', '90,842.00', '25,358.00', '28,567.00', '66,373.00', '66,373.00', '83,844.00', '83,844.00', '83,844.00', '83,664.00', '27,450.00', '54,880.00', '71,322.00', '60,000.00', '65,176.00', '61,010.00', '31,089.00', '20,518.00', '34,469.00', '28,332.00', '33,456.00', '38,443.00', '65,333.00', '82,623.00', '73,691.00', '74,485.00', '65,748.00', '24,367.00', '91,700.00', '79,244.00', '82,017.00', '58,138.00', '59,354.00', '58,482.00', '29,478.00', '64,474.00', '31,160.00', '40,321.00', '40,321.00', '55,239.00', '57,513.00', '85,693.00', '71,855.00', '7,500.00', '71,969.00', '28,973.00', '80,872.00', '84,117.00', '38,741.00', '38,961.00', '75,922.00', '56,962.00', '56,962.00', '70,165.00', '65,308.00', '29,298.00', '63,246.00', '33,402.00', '96,843.00', '82,333.00', '72,643.00', '32,313.00', '55,284.00', '15,287.00', '15,287.00', '51,563.00', '81,929.00', '53,593.00', '60,432.00', '66,726.00', '62,450.00', '49,514.00', '43,269.00', '33,762.00', '60,894.00', '87,771.00', '87,771.00', '50,737.00', '26,150.00', '57,304.00', '71,107.00', '53,253.00', '81,320.00', '87,000.00', '40,049.00', '63,684.00', '69,016.00', '7,500.00', '73,803.00', '46,094.00', '85,844.00', '38,452.00', '38,452.00', '80,395.00', '87,679.00', '35,416.00', '44,124.00', '50,729.00', '94,384.00', '94,384.00', '34,412.00', '31,158.00', '34,838.00', '56,775.00', '54,356.00', '72,159.00', '8,028.00', '55,951.00', '67,911.00', '67,911.00', '20,427.00', '32,303.00', '55,954.00', '49,187.00', '49,854.00', '63,693.00', '63,693.00', '19,510.00', '52,332.00', '55,593.00', '54,591.00', '74,859.00', '40,851.00', '58,607.00', '7,500.00', '52,614.00', '52,614.00', '67,445.00', '67,445.00', '67,445.00', '36,778.00', '39,453.00', '42,731.00', '40,760.00', '69,969.00', '80,317.00', '66,636.00', '54,730.00', '42,835.00', '53,843.00', '79,530.00', '63,841.00', '63,841.00', '63,841.00', '27,100.00', '27,100.00', '72,309.00', '50,664.00', '20,194.00', '76,618.00', '45,207.00', '56,721.00', '27,038.00', '23,763.00', '37,085.00', '49,605.00', '1,730.00', '34,824.00', '34,824.00', '63,206.00', '26,759.00', '55,412.00', '33,590.00', '70,886.00', '72,679.00', '65,073.00', '44,300.00', '56,129.00', '56,129.00', '38,590.00', '53,083.00', '79,689.00', '34,704.00', '65,316.00', '41,014.00', '19,740.00', '23,724.00', '55,212.00', '55,212.00', '79,800.00', '70,647.00', '38,410.00', '28,071.00', '54,803.00', '74,293.00', '74,293.00', '35,684.00', '34,320.00', '41,967.00', '49,681.00', '49,681.00', '53,187.00', '86,610.00', '70,951.00', '24,206.00', '55,357.00', '58,113.00', '70,643.00', '64,355.00', '82,576.00', '41,644.00', '72,570.00', '30,630.00', '22,944.00', '86,979.00', '82,072.00', '52,034.00', '72,354.00', '28,427.00', '28,427.00', '39,858.00', '67,381.00', '23,529.00', '51,479.00', '76,068.00', '22,507.00', '52,413.00', '50,116.00', '76,624.00', '34,587.00', '62,159.00', '66,294.00', '5,648.00', '37,235.00', '85,620.00', '23,976.00', '41,020.00', '36,108.00', '57,530.00', '62,905.00', '65,846.00', '34,380.00', '41,638.00', '63,207.00', '28,320.00', '43,140.00', '52,531.00', '40,246.00', '35,196.00', '35,196.00', '70,596.00', '70,59

In [154]:
fin=[]

for x in last:
    camma=x.split(",")
    fin_camma=camma[0]+camma[1]
    fin.append(fin_camma)

print(fin)

['84835.00', '57091.00', '67267.00', '32474.00', '21474.00', '71691.00', '63564.00', '44931.00', '65324.00', '65324.00', '81044.00', '62499.00', '67786.00', '26872.00', '4428.00', '54809.00', '54809.00', '32173.00', '47823.00', '30523.00', '36634.00', '43456.00', '40662.00', '49544.00', '57731.00', '33168.00', '54450.00', '54450.00', '35340.00', '73170.00', '65808.00', '79529.00', '34578.00', '46374.00', '18351.00', '95169.00', '65370.00', '39228.00', '84865.00', '61314.00', '21359.00', '66465.00', '81698.00', '39146.00', '25959.00', '64260.00', '32300.00', '74806.00', '72967.00', '48904.00', '14796.00', '66991.00', '52195.00', '90369.00', '18393.00', '47139.00', '38576.00', '61905.00', '83715.00', '60597.00', '6560.00', '48330.00', '38236.00', '22701.00', '53367.00', '34728.00', '63915.00', '82504.00', '38578.00', '38578.00', '79174.00', '81975.00', '43263.00', '27242.00', '76445.00', '75276.00', '34213.00', '72335.00', '79143.00', '27469.00', '68695.00', '68695.00', '50388.00', '77622.00', '46102.00', '31859.00', '23830.00', '24639.00', '71604.00', '27255.00', '55375.00', '77037.00', '24163.00', '69476.00', '72063.00', '58646.00', '58646.00', '47570.00', '80011.00', '54998.00', '60200.00', '63211.00', '48432.00', '48432.00', '48432.00', '62845.00', '62845.00', '65220.00', '74214.00', '96547.00', '53863.00', '50447.00', '37716.00', '45203.00', '37368.00', '67225.00', '65104.00', '65104.00', '81698.00', '70566.00', '69096.00', '71434.00', '33039.00', '33039.00', '46610.00', '49967.00', '53359.00', '49505.00', '68657.00', '72071.00', '72071.00', '59235.00', '21994.00', '21994.00', '69209.00', '31928.00', '74004.00', '30390.00', '21355.00', '26304.00', '85710.00', '102692.00', '58350.00', '7500.00', '18890.00', '20425.00', '20425.00', '41437.00', '49912.00', '49912.00', '79823.00', '85683.00', '47025.00', '68397.00', '38175.00', '46423.00', '46423.00', '30560.00', '30560.00', '60152.00', '29672.00', '29672.00', '70321.00', '56181.00', '24279.00', '68462.00', '55424.00', '49094.00', '59184.00', '67430.00', '30522.00', '31878.00', '83528.00', '90300.00', '68092.00', '53761.00', '52845.00', '24027.00', '7500.00', '42586.00', '42586.00', '9722.00', '86836.00', '30467.00', '54549.00', '19444.00', '69245.00', '72968.00', '48686.00', '73687.00', '82716.00', '35523.00', '60554.00', '64090.00', '61559.00', '71670.00', '67680.00', '54386.00', '64108.00', '69702.00', '47958.00', '67716.00', '34600.00', '34600.00', '48752.00', '15716.00', '46610.00', '74985.00', '45576.00', '113734.00', '57100.00', '24434.00', '37126.00', '45160.00', '33178.00', '64866.00', '34176.00', '50014.00', '92344.00', '55282.00', '48799.00', '84169.00', '84169.00', '39763.00', '74165.00', '42720.00', '65275.00', '36443.00', '43776.00', '56046.00', '65148.00', '49431.00', '32583.00', '16653.00', '26850.00', '51287.00', '43050.00', '73448.00', '17256.00', '86429.00', '33569.00', '25130.00', '62998.00', '26907.00', '26907.00', '45579.00', '47320.00', '70179.00', '70179.00', '28072.00', '50501.00', '58917.00', '69372.00', '35178.00', '35178.00', '75693.00', '69109.00', '69109.00', '80134.00', '64713.00', '41411.00', '55521.00', '43795.00', '22070.00', '36408.00', '34026.00', '34026.00', '46049.00', '35641.00', '32414.00', '59821.00', '34968.00', '56320.00', '70091.00', '46097.00', '41003.00', '44911.00', '33249.00', '33249.00', '42873.00', '51039.00', '78952.00', '29435.00', '79865.00', '34176.00', '34176.00', '65968.00', '86424.00', '67272.00', '78499.00', '77044.00', '70515.00', '17459.00', '80336.00', '15759.00', '26326.00', '62061.00', '5305.00', '75777.00', '75777.00', '71499.00', '31626.00', '42670.00', '83917.00', '41021.00', '79456.00', '78789.00', '50870.00', '35876.00', '23539.00', '32557.00', '62466.00', '62466.00', '54198.00', '82170.00', '61798.00', '15253.00', '78285.00', '62535.00', '27190.00', '48985.00', '72940.00', '36145.00', '157146.00', '81843.00', '41883.00', '45759.00', '45759.00', '78394.00', '30279.00', '30279.00', '31880.00', '60208.00', '78687.00', '37401.00', '37401.00', '75315.00', '69263.00', '78569.00', '57705.00', '74805.00', '66426.00', '51529.00', '18100.00', '59601.00', '20981.00', '74068.00', '36790.00', '18793.00', '27421.00', '30675.00', '83145.00', '34053.00', '31788.00', '45894.00', '41986.00', '42769.00', '58582.00', '49096.00', '76412.00', '18929.00', '18929.00', '18929.00', '21888.00', '41580.00', '31605.00', '25509.00', '25509.00', '33051.00', '28764.00', '32146.00', '22148.00', '36781.00', '54197.00', '93790.00', '24762.00', '30477.00', '11448.00', '70844.00', '30828.00', '62513.00', '27733.00', '39435.00', '75345.00', '20491.00', '36715.00', '71706.00', '69063.00', '24645.00', '35797.00', '44078.00', '26954.00', '38887.00', '65463.00', '53537.00', '36230.00', '80763.00', '60585.00', '49166.00', '75261.00', '89891.00', '72828.00', '75278.00', '38557.00', '81300.00', '60161.00', '69389.00', '64497.00', '61014.00', '44319.00', '53233.00', '77972.00', '81361.00', '81361.00', '25707.00', '42403.00', '65704.00', '37406.00', '39767.00', '54210.00', '57136.00', '40794.00', '83003.00', '89058.00', '20193.00', '72099.00', '43824.00', '66653.00', '44359.00', '79410.00', '55842.00', '79946.00', '88194.00', '80184.00', '76982.00', '65295.00', '57100.00', '29009.00', '78931.00', '7500.00', '56939.00', '64509.00', '30093.00', '30351.00', '30351.00', '38201.00', '43974.00', '38200.00', '87305.00', '16860.00', '27213.00', '7500.00', '4861.00', '38196.00', '41145.00', '38513.00', '45688.00', '77863.00', '42169.00', '45906.00', '35388.00', '80952.00', '39898.00', '39898.00', '44051.00', '86718.00', '80141.00', '58597.00', '70356.00', '46904.00', '37760.00', '37760.00', '61839.00', '29791.00', '48918.00', '48918.00', '58692.00', '39356.00', '76234.00', '55434.00', '66835.00', '66835.00', '71965.00', '74538.00', '50002.00', '53977.00', '53977.00', '69930.00', '62981.00', '46014.00', '18227.00', '65991.00', '38808.00', '160803.00', '43783.00', '30396.00', '65526.00', '65526.00', '55956.00', '55563.00', '57236.00', '89694.00', '57420.00', '33622.00', '29999.00', '31497.00', '31497.00', '36802.00', '61671.00', '60182.00', '29732.00', '45921.00', '16529.00', '98777.00', '98777.00', '77027.00', '69139.00', '69139.00', '65169.00', '40049.00', '69755.00', '54456.00', '666666.00', '60689.00', '26487.00', '28164.00', '22585.00', '64795.00', '42000.00', '42000.00', '70713.00', '82800.00', '82800.00', '30801.00', '83891.00', '38054.00', '14045.00', '44155.00', '57642.00', '31353.00', '31353.00', '41335.00', '41335.00', '40737.00', '19789.00', '35946.00', '36262.00', '44551.00', '71367.00', '71367.00', '57957.00', '50334.00', '48150.00', '56796.00', '56796.00', '52278.00', '52278.00', '7500.00', '33444.00', '20895.00', '37509.00', '88097.00', '59041.00', '43322.00', '46015.00', '46015.00', '34242.00', '65210.00', '50520.00', '90765.00', '80589.00', '49572.00', '75437.00', '44635.00', '58512.00', '62000.00', '54252.00', '45068.00', '60474.00', '60474.00', '56337.00', '22434.00', '61416.00', '92163.00', '58656.00', '8940.00', '26751.00', '71427.00', '26646.00', '19346.00', '56243.00', '59892.00', '71613.00', '25252.00', '42160.00', '15862.00', '82584.00', '38360.00', '75283.00', '34941.00', '61823.00', '90226.00', '44989.00', '44989.00', '43586.00', '32233.00', '62882.00', '57288.00', '75774.00', '75774.00', '90247.00', '32218.00', '84219.00', '84219.00', '48877.00', '60905.00', '75236.00', '62551.00', '70123.00', '50785.00', '15315.00', '15315.00', '64413.00', '87171.00', '30081.00', '20180.00', '20180.00', '55686.00', '26887.00', '61996.00', '51537.00', '72025.00', '30538.00', '61618.00', '77343.00', '75433.00', '82571.00', '60033.00', '39062.00', '30023.00', '30015.00', '33228.00', '22574.00', '22574.00', '55267.00', '66886.00', '72258.00', '82733.00', '45146.00', '51250.00', '32871.00', '63855.00', '42564.00', '46344.00', '50437.00', '70971.00', '37774.00', '4023.00', '33279.00', '42693.00', '70545.00', '65486.00', '77882.00', '78468.00', '77226.00', '90638.00', '90638.00', '70666.00', '59052.00', '13084.00', '49160.00', '23272.00', '49476.00', '62694.00', '57906.00', '71853.00', '71853.00', '65031.00', '30507.00', '67419.00', '59462.00', '95529.00', '53653.00', '25965.00', '22979.00', '64950.00', '44322.00', '30096.00', '30096.00', '56628.00', '82326.00', '71163.00', '71022.00', '42607.00', '43057.00', '47808.00', '29236.00', '40590.00', '40590.00', '77520.00', '40211.00', '63516.00', '53034.00', '22669.00', '79908.00', '69867.00', '70287.00', '37070.00', '37070.00', '38179.00', '39922.00', '39922.00', '39922.00', '64191.00', '41658.00', '40780.00', '77568.00', '66503.00', '83512.00', '31686.00', '71322.00', '27938.00', '22263.00', '34633.00', '42162.00', '162397.00', '54162.00', '41769.00', '44953.00', '37717.00', '37717.00', '40548.00', '67893.00', '69267.00', '9548.00', '68281.00', '92556.00', '48526.00', '90273.00', '19414.00', '79761.00', '53312.00', '41039.00', '88347.00', '50150.00', '50150.00', '10245.00', '33454.00', '40887.00', '55914.00', '37292.00', '52914.00', '24884.00', '67384.00', '51651.00', '82497.00', '32632.00', '33562.00', '79146.00', '79146.00', '36143.00', '27159.00', '41275.00', '76800.00', '75794.00', '30833.00', '26518.00', '91065.00', '45183.00', '48070.00', '30372.00', '30372.00', '57036.00', '66731.00', '35682.00', '10979.00', '10979.00', '57912.00', '36026.00', '35788.00', '42243.00', '46086.00', '61346.00', '33316.00', '33316.00', '21063.00', '33697.00', '25804.00', '72117.00', '61286.00', '61286.00', '65196.00', '55635.00', '42021.00', '75251.00', '35322.00', '53374.00', '87195.00', '42395.00', '82427.00', '44602.00', '94642.00', '28359.00', '55801.00', '92955.00', '56534.00', '69627.00', '78579.00', '44964.00', '30899.00', '78825.00', '25545.00', '47111.00', '49667.00', '66000.00', '46910.00', '25224.00', '77382.00', '28420.00', '32952.00', '46149.00', '83532.00', '73059.00', '73059.00', '35701.00', '89616.00', '105471.00', '78427.00', '22518.00', '59809.00', '39660.00', '52203.00', '35860.00', '35860.00', '35860.00', '35860.00', '76842.00', '15033.00', '67353.00', '17003.00', '65735.00', '45684.00', '21918.00', '51267.00', '59868.00', '51373.00', '46692.00', '157733.00', '54432.00', '79607.00', '51813.00', '17487.00', '40706.00', '62859.00', '61074.00', '43638.00', '58116.00', '62187.00', '46344.00', '77353.00', '69759.00', '21846.00', '76532.00', '70053.00', '75342.00', '27590.00', '51148.00', '33378.00', '32644.00', '33581.00', '12393.00', '42710.00', '82347.00', '82347.00', '22554.00', '17323.00', '62204.00', '78028.00', '63887.00', '32727.00', '29103.00', '61482.00', '20587.00', '20587.00', '52190.00', '48186.00', '19329.00', '34109.00', '23477.00', '47472.00', '14849.00', '26224.00', '27238.00', '57967.00', '51569.00', '72550.00', '44511.00', '62972.00', '62972.00', '77845.00', '36663.00', '53204.00', '21059.00', '67087.00', '73892.00', '75114.00', '42192.00', '31454.00', '22775.00', '22775.00', '31590.00', '80134.00', '80134.00', '14188.00', '18169.00', '62503.00', '46734.00', '68126.00', '52869.00', '26576.00', '75825.00', '57045.00', '34984.00', '27803.00', '69283.00', '18746.00', '70924.00', '70924.00', '69401.00', '75012.00', '85738.00', '60934.00', '27161.00', '64325.00', '18978.00', '41124.00', '39684.00', '53378.00', '37040.00', '78710.00', '92910.00', '36283.00', '79632.00', '28587.00', '88325.00', '51412.00', '63998.00', '38593.00', '27889.00', '45889.00', '56575.00', '16014.00', '61331.00', '70893.00', '2447.00', '64849.00', '42387.00', '80617.00', '54006.00', '16531.00', '30843.00', '18988.00', '81051.00', '39747.00', '34554.00', '52854.00', '81205.00', '69084.00', '69084.00', '65352.00', '22063.00', '47691.00', '29187.00', '72504.00', '33986.00', '42386.00', '42386.00', '36957.00', '13724.00', '42664.00', '37334.00', '78497.00', '78497.00', '58821.00', '58398.00', '80950.00', '30732.00', '89572.00', '57107.00', '76467.00', '51315.00', '43602.00', '38643.00', '49090.00', '70617.00', '67536.00', '27573.00', '13533.00', '50725.00', '25851.00', '57113.00', '62847.00', '68627.00', '25271.00', '63810.00', '63810.00', '65488.00', '36927.00', '22108.00', '72025.00', '33183.00', '23661.00', '25315.00', '45938.00', '66951.00', '77298.00', '77298.00', '43018.00', '75759.00', '33996.00', '33996.00', '54137.00', '61223.00', '69674.00', '49494.00', '51195.00', '37284.00', '37284.00', '42011.00', '70044.00', '46053.00', '24480.00', '54233.00', '36130.00', '56559.00', '92859.00', '44010.00', '80124.00', '80124.00', '50183.00', '64722.00', '37395.00', '29543.00', '19514.00', '19514.00', '59481.00', '91712.00', '80144.00', '59973.00', '68352.00', '81169.00', '61456.00', '22634.00', '22634.00', '23957.00', '33471.00', '52157.00', '30298.00', '56551.00', '56551.00', '65487.00', '65487.00', '44213.00', '40344.00', '57867.00', '25410.00', '13260.00', '42691.00', '36138.00', '57136.00', '58275.00', '54237.00', '34596.00', '34596.00', '74881.00', '74881.00', '44267.00', '68487.00', '68487.00', '80982.00', '69508.00', '63342.00', '63342.00', '82014.00', '76320.00', '64587.00', '74190.00', '32765.00', '22212.00', '18358.00', '26067.00', '22390.00', '70440.00', '60199.00', '38547.00', '19107.00', '37929.00', '16813.00', '62187.00', '57811.00', '50943.00', '50943.00', '53201.00', '54414.00', '26290.00', '61250.00', '28389.00', '55250.00', '37758.00', '37758.00', '37633.00', '33629.00', '36947.00', '69142.00', '53154.00', '65695.00', '69805.00', '36975.00', '26228.00', '37787.00', '37087.00', '57247.00', '36930.00', '48721.00', '43641.00', '75903.00', '71391.00', '16927.00', '27215.00', '53858.00', '30983.00', '43462.00', '63943.00', '26816.00', '75484.00', '33564.00', '54348.00', '54984.00', '34738.00', '68118.00', '68118.00', '22682.00', '51948.00', '25293.00', '25293.00', '41551.00', '56067.00', '67433.00', '22010.00', '64831.00', '62820.00', '62820.00', '78353.00', '57183.00', '23478.00', '30168.00', '37155.00', '16581.00', '41850.00', '81380.00', '56386.00', '25818.00', '15345.00', '57954.00', '50300.00', '38725.00', '10404.00', '26868.00', '72298.00', '72905.00', '47025.00', '29938.00', '46681.00', '46681.00', '29548.00', '62058.00', '36736.00', '8820.00', '14918.00', '56715.00', '24882.00', '24882.00', '40442.00', '64176.00', '23536.00', '35246.00', '28442.00', '48195.00', '74116.00', '78093.00', '59354.00', '36301.00', '77598.00', '62710.00', '36317.00', '42767.00', '43815.00', '44421.00', '48948.00', '48948.00', '63120.00', '55517.00', '36864.00', '82582.00', '79803.00', '52569.00', '82032.00', '82032.00', '65685.00', '65685.00', '40451.00', '31163.00', '31163.00', '35704.00', '7500.00', '36075.00', '70038.00', '70038.00', '71796.00', '47821.00', '45503.00', '28647.00', '37760.00', '85431.00', '72635.00', '72635.00', '77142.00', '53172.00', '36065.00', '73926.00', '35790.00', '39552.00', '68316.00', '102160.00', '51390.00', '72066.00', '21675.00', '48006.00', '65106.00', '58401.00', '29315.00', '49389.00', '51717.00', '46779.00', '28520.00', '34377.00', '54959.00', '82384.00', '46998.00', '58554.00', '58554.00', '57333.00', '80685.00', '52117.00', '62220.00', '64014.00', '64014.00', '46390.00', '75507.00', '75507.00', '59412.00', '50616.00', '35924.00', '57937.00', '73356.00', '21255.00', '58494.00', '72460.00', '68682.00', '68682.00', '36959.00', '46463.00', '61825.00', '61825.00', '28691.00', '28691.00', '54058.00', '84196.00', '38620.00', '38620.00', '3502.00', '47743.00', '80360.00', '66303.00', '52413.00', '60714.00', '31385.00', '83257.00', '80427.00', '38823.00', '42014.00', '42014.00', '76140.00', '41713.00', '62670.00', '70932.00', '78939.00', '44512.00', '63967.00', '90842.00', '25358.00', '28567.00', '66373.00', '66373.00', '83844.00', '83844.00', '83844.00', '83664.00', '27450.00', '54880.00', '71322.00', '60000.00', '65176.00', '61010.00', '31089.00', '20518.00', '34469.00', '28332.00', '33456.00', '38443.00', '65333.00', '82623.00', '73691.00', '74485.00', '65748.00', '24367.00', '91700.00', '79244.00', '82017.00', '58138.00', '59354.00', '58482.00', '29478.00', '64474.00', '31160.00', '40321.00', '40321.00', '55239.00', '57513.00', '85693.00', '71855.00', '7500.00', '71969.00', '28973.00', '80872.00', '84117.00', '38741.00', '38961.00', '75922.00', '56962.00', '56962.00', '70165.00', '65308.00', '29298.00', '63246.00', '33402.00', '96843.00', '82333.00', '72643.00', '32313.00', '55284.00', '15287.00', '15287.00', '51563.00', '81929.00', '53593.00', '60432.00', '66726.00', '62450.00', '49514.00', '43269.00', '33762.00', '60894.00', '87771.00', '87771.00', '50737.00', '26150.00', '57304.00', '71107.00', '53253.00', '81320.00', '87000.00', '40049.00', '63684.00', '69016.00', '7500.00', '73803.00', '46094.00', '85844.00', '38452.00', '38452.00', '80395.00', '87679.00', '35416.00', '44124.00', '50729.00', '94384.00', '94384.00', '34412.00', '31158.00', '34838.00', '56775.00', '54356.00', '72159.00', '8028.00', '55951.00', '67911.00', '67911.00', '20427.00', '32303.00', '55954.00', '49187.00', '49854.00', '63693.00', '63693.00', '19510.00', '52332.00', '55593.00', '54591.00', '74859.00', '40851.00', '58607.00', '7500.00', '52614.00', '52614.00', '67445.00', '67445.00', '67445.00', '36778.00', '39453.00', '42731.00', '40760.00', '69969.00', '80317.00', '66636.00', '54730.00', '42835.00', '53843.00', '79530.00', '63841.00', '63841.00', '63841.00', '27100.00', '27100.00', '72309.00', '50664.00', '20194.00', '76618.00', '45207.00', '56721.00', '27038.00', '23763.00', '37085.00', '49605.00', '1730.00', '34824.00', '34824.00', '63206.00', '26759.00', '55412.00', '33590.00', '70886.00', '72679.00', '65073.00', '44300.00', '56129.00', '56129.00', '38590.00', '53083.00', '79689.00', '34704.00', '65316.00', '41014.00', '19740.00', '23724.00', '55212.00', '55212.00', '79800.00', '70647.00', '38410.00', '28071.00', '54803.00', '74293.00', '74293.00', '35684.00', '34320.00', '41967.00', '49681.00', '49681.00', '53187.00', '86610.00', '70951.00', '24206.00', '55357.00', '58113.00', '70643.00', '64355.00', '82576.00', '41644.00', '72570.00', '30630.00', '22944.00', '86979.00', '82072.00', '52034.00', '72354.00', '28427.00', '28427.00', '39858.00', '67381.00', '23529.00', '51479.00', '76068.00', '22507.00', '52413.00', '50116.00', '76624.00', '34587.00', '62159.00', '66294.00', '5648.00', '37235.00', '85620.00', '23976.00', '41020.00', '36108.00', '57530.00', '62905.00', '65846.00', '34380.00', '41638.00', '63207.00', '28320.00', '43140.00', '52531.00', '40246.00', '35196.00', '35196.00', '70596.00', '70596.00', '52597.00', '42394.00', '81657.00', '49154.00', '34074.00', '70638.00', '38136.00', '67432.00', '40689.00', '40689.00', '101970.00', '44325.00', '61467.00', '48178.00', '16005.00', '79593.00', '79593.00', '61180.00', '64449.00', '77437.00', '17649.00', '53103.00', '71819.00', '74290.00', '72282.00', '47352.00', '47352.00', '46524.00', '50200.00', '18222.00', '77610.00', '38097.00', '44377.00', '58684.00', '66480.00', '49638.00', '50616.00', '26642.00', '33235.00', '23228.00', '36732.00', '82657.00', '64140.00', '44392.00', '16185.00', '38702.00', '54072.00', '61787.00', '34935.00', '34935.00', '59292.00', '59292.00', '57959.00', '92491.00', '42207.00', '46984.00', '23442.00', '46757.00', '14515.00', '80910.00', '30545.00', '44802.00', '79941.00', '79734.00', '50353.00', '77376.00', '78075.00', '42473.00', '25008.00', '56223.00', '47850.00', '91820.00', '40637.00', '23295.00', '84574.00', '54165.00', '28510.00', '67131.00', '56242.00', '86580.00', '76005.00', '54693.00', '52750.00', '36997.00', '34230.00', '47916.00', '60839.00', '79930.00', '55158.00', '85485.00', '75865.00', '44375.00', '60504.00', '65492.00', '67506.00', '68805.00', '61209.00', '66825.00', '87188.00', '84953.00', '74637.00', '86111.00', '77632.00', '31814.00', '70116.00', '48240.00', '40101.00', '70503.00', '79205.00', '51766.00', '62994.00', '65640.00', '38361.00', '38361.00', '19986.00', '19986.00', '72903.00', '45072.00', '59062.00', '61794.00', '45143.00', '45143.00', '26877.00', '36921.00', '54342.00', '62772.00', '75032.00', '22419.0

In [155]:
dot=[]

for x in fin:
   do=x.split(".")
   dot.append(do[0])

print(dot)

['84835', '57091', '67267', '32474', '21474', '71691', '63564', '44931', '65324', '65324', '81044', '62499', '67786', '26872', '4428', '54809', '54809', '32173', '47823', '30523', '36634', '43456', '40662', '49544', '57731', '33168', '54450', '54450', '35340', '73170', '65808', '79529', '34578', '46374', '18351', '95169', '65370', '39228', '84865', '61314', '21359', '66465', '81698', '39146', '25959', '64260', '32300', '74806', '72967', '48904', '14796', '66991', '52195', '90369', '18393', '47139', '38576', '61905', '83715', '60597', '6560', '48330', '38236', '22701', '53367', '34728', '63915', '82504', '38578', '38578', '79174', '81975', '43263', '27242', '76445', '75276', '34213', '72335', '79143', '27469', '68695', '68695', '50388', '77622', '46102', '31859', '23830', '24639', '71604', '27255', '55375', '77037', '24163', '69476', '72063', '58646', '58646', '47570', '80011', '54998', '60200', '63211', '48432', '48432', '48432', '62845', '62845', '65220', '74214', '96547', '53863', '50447', '37716', '45203', '37368', '67225', '65104', '65104', '81698', '70566', '69096', '71434', '33039', '33039', '46610', '49967', '53359', '49505', '68657', '72071', '72071', '59235', '21994', '21994', '69209', '31928', '74004', '30390', '21355', '26304', '85710', '102692', '58350', '7500', '18890', '20425', '20425', '41437', '49912', '49912', '79823', '85683', '47025', '68397', '38175', '46423', '46423', '30560', '30560', '60152', '29672', '29672', '70321', '56181', '24279', '68462', '55424', '49094', '59184', '67430', '30522', '31878', '83528', '90300', '68092', '53761', '52845', '24027', '7500', '42586', '42586', '9722', '86836', '30467', '54549', '19444', '69245', '72968', '48686', '73687', '82716', '35523', '60554', '64090', '61559', '71670', '67680', '54386', '64108', '69702', '47958', '67716', '34600', '34600', '48752', '15716', '46610', '74985', '45576', '113734', '57100', '24434', '37126', '45160', '33178', '64866', '34176', '50014', '92344', '55282', '48799', '84169', '84169', '39763', '74165', '42720', '65275', '36443', '43776', '56046', '65148', '49431', '32583', '16653', '26850', '51287', '43050', '73448', '17256', '86429', '33569', '25130', '62998', '26907', '26907', '45579', '47320', '70179', '70179', '28072', '50501', '58917', '69372', '35178', '35178', '75693', '69109', '69109', '80134', '64713', '41411', '55521', '43795', '22070', '36408', '34026', '34026', '46049', '35641', '32414', '59821', '34968', '56320', '70091', '46097', '41003', '44911', '33249', '33249', '42873', '51039', '78952', '29435', '79865', '34176', '34176', '65968', '86424', '67272', '78499', '77044', '70515', '17459', '80336', '15759', '26326', '62061', '5305', '75777', '75777', '71499', '31626', '42670', '83917', '41021', '79456', '78789', '50870', '35876', '23539', '32557', '62466', '62466', '54198', '82170', '61798', '15253', '78285', '62535', '27190', '48985', '72940', '36145', '157146', '81843', '41883', '45759', '45759', '78394', '30279', '30279', '31880', '60208', '78687', '37401', '37401', '75315', '69263', '78569', '57705', '74805', '66426', '51529', '18100', '59601', '20981', '74068', '36790', '18793', '27421', '30675', '83145', '34053', '31788', '45894', '41986', '42769', '58582', '49096', '76412', '18929', '18929', '18929', '21888', '41580', '31605', '25509', '25509', '33051', '28764', '32146', '22148', '36781', '54197', '93790', '24762', '30477', '11448', '70844', '30828', '62513', '27733', '39435', '75345', '20491', '36715', '71706', '69063', '24645', '35797', '44078', '26954', '38887', '65463', '53537', '36230', '80763', '60585', '49166', '75261', '89891', '72828', '75278', '38557', '81300', '60161', '69389', '64497', '61014', '44319', '53233', '77972', '81361', '81361', '25707', '42403', '65704', '37406', '39767', '54210', '57136', '40794', '83003', '89058', '20193', '72099', '43824', '66653', '44359', '79410', '55842', '79946', '88194', '80184', '76982', '65295', '57100', '29009', '78931', '7500', '56939', '64509', '30093', '30351', '30351', '38201', '43974', '38200', '87305', '16860', '27213', '7500', '4861', '38196', '41145', '38513', '45688', '77863', '42169', '45906', '35388', '80952', '39898', '39898', '44051', '86718', '80141', '58597', '70356', '46904', '37760', '37760', '61839', '29791', '48918', '48918', '58692', '39356', '76234', '55434', '66835', '66835', '71965', '74538', '50002', '53977', '53977', '69930', '62981', '46014', '18227', '65991', '38808', '160803', '43783', '30396', '65526', '65526', '55956', '55563', '57236', '89694', '57420', '33622', '29999', '31497', '31497', '36802', '61671', '60182', '29732', '45921', '16529', '98777', '98777', '77027', '69139', '69139', '65169', '40049', '69755', '54456', '666666', '60689', '26487', '28164', '22585', '64795', '42000', '42000', '70713', '82800', '82800', '30801', '83891', '38054', '14045', '44155', '57642', '31353', '31353', '41335', '41335', '40737', '19789', '35946', '36262', '44551', '71367', '71367', '57957', '50334', '48150', '56796', '56796', '52278', '52278', '7500', '33444', '20895', '37509', '88097', '59041', '43322', '46015', '46015', '34242', '65210', '50520', '90765', '80589', '49572', '75437', '44635', '58512', '62000', '54252', '45068', '60474', '60474', '56337', '22434', '61416', '92163', '58656', '8940', '26751', '71427', '26646', '19346', '56243', '59892', '71613', '25252', '42160', '15862', '82584', '38360', '75283', '34941', '61823', '90226', '44989', '44989', '43586', '32233', '62882', '57288', '75774', '75774', '90247', '32218', '84219', '84219', '48877', '60905', '75236', '62551', '70123', '50785', '15315', '15315', '64413', '87171', '30081', '20180', '20180', '55686', '26887', '61996', '51537', '72025', '30538', '61618', '77343', '75433', '82571', '60033', '39062', '30023', '30015', '33228', '22574', '22574', '55267', '66886', '72258', '82733', '45146', '51250', '32871', '63855', '42564', '46344', '50437', '70971', '37774', '4023', '33279', '42693', '70545', '65486', '77882', '78468', '77226', '90638', '90638', '70666', '59052', '13084', '49160', '23272', '49476', '62694', '57906', '71853', '71853', '65031', '30507', '67419', '59462', '95529', '53653', '25965', '22979', '64950', '44322', '30096', '30096', '56628', '82326', '71163', '71022', '42607', '43057', '47808', '29236', '40590', '40590', '77520', '40211', '63516', '53034', '22669', '79908', '69867', '70287', '37070', '37070', '38179', '39922', '39922', '39922', '64191', '41658', '40780', '77568', '66503', '83512', '31686', '71322', '27938', '22263', '34633', '42162', '162397', '54162', '41769', '44953', '37717', '37717', '40548', '67893', '69267', '9548', '68281', '92556', '48526', '90273', '19414', '79761', '53312', '41039', '88347', '50150', '50150', '10245', '33454', '40887', '55914', '37292', '52914', '24884', '67384', '51651', '82497', '32632', '33562', '79146', '79146', '36143', '27159', '41275', '76800', '75794', '30833', '26518', '91065', '45183', '48070', '30372', '30372', '57036', '66731', '35682', '10979', '10979', '57912', '36026', '35788', '42243', '46086', '61346', '33316', '33316', '21063', '33697', '25804', '72117', '61286', '61286', '65196', '55635', '42021', '75251', '35322', '53374', '87195', '42395', '82427', '44602', '94642', '28359', '55801', '92955', '56534', '69627', '78579', '44964', '30899', '78825', '25545', '47111', '49667', '66000', '46910', '25224', '77382', '28420', '32952', '46149', '83532', '73059', '73059', '35701', '89616', '105471', '78427', '22518', '59809', '39660', '52203', '35860', '35860', '35860', '35860', '76842', '15033', '67353', '17003', '65735', '45684', '21918', '51267', '59868', '51373', '46692', '157733', '54432', '79607', '51813', '17487', '40706', '62859', '61074', '43638', '58116', '62187', '46344', '77353', '69759', '21846', '76532', '70053', '75342', '27590', '51148', '33378', '32644', '33581', '12393', '42710', '82347', '82347', '22554', '17323', '62204', '78028', '63887', '32727', '29103', '61482', '20587', '20587', '52190', '48186', '19329', '34109', '23477', '47472', '14849', '26224', '27238', '57967', '51569', '72550', '44511', '62972', '62972', '77845', '36663', '53204', '21059', '67087', '73892', '75114', '42192', '31454', '22775', '22775', '31590', '80134', '80134', '14188', '18169', '62503', '46734', '68126', '52869', '26576', '75825', '57045', '34984', '27803', '69283', '18746', '70924', '70924', '69401', '75012', '85738', '60934', '27161', '64325', '18978', '41124', '39684', '53378', '37040', '78710', '92910', '36283', '79632', '28587', '88325', '51412', '63998', '38593', '27889', '45889', '56575', '16014', '61331', '70893', '2447', '64849', '42387', '80617', '54006', '16531', '30843', '18988', '81051', '39747', '34554', '52854', '81205', '69084', '69084', '65352', '22063', '47691', '29187', '72504', '33986', '42386', '42386', '36957', '13724', '42664', '37334', '78497', '78497', '58821', '58398', '80950', '30732', '89572', '57107', '76467', '51315', '43602', '38643', '49090', '70617', '67536', '27573', '13533', '50725', '25851', '57113', '62847', '68627', '25271', '63810', '63810', '65488', '36927', '22108', '72025', '33183', '23661', '25315', '45938', '66951', '77298', '77298', '43018', '75759', '33996', '33996', '54137', '61223', '69674', '49494', '51195', '37284', '37284', '42011', '70044', '46053', '24480', '54233', '36130', '56559', '92859', '44010', '80124', '80124', '50183', '64722', '37395', '29543', '19514', '19514', '59481', '91712', '80144', '59973', '68352', '81169', '61456', '22634', '22634', '23957', '33471', '52157', '30298', '56551', '56551', '65487', '65487', '44213', '40344', '57867', '25410', '13260', '42691', '36138', '57136', '58275', '54237', '34596', '34596', '74881', '74881', '44267', '68487', '68487', '80982', '69508', '63342', '63342', '82014', '76320', '64587', '74190', '32765', '22212', '18358', '26067', '22390', '70440', '60199', '38547', '19107', '37929', '16813', '62187', '57811', '50943', '50943', '53201', '54414', '26290', '61250', '28389', '55250', '37758', '37758', '37633', '33629', '36947', '69142', '53154', '65695', '69805', '36975', '26228', '37787', '37087', '57247', '36930', '48721', '43641', '75903', '71391', '16927', '27215', '53858', '30983', '43462', '63943', '26816', '75484', '33564', '54348', '54984', '34738', '68118', '68118', '22682', '51948', '25293', '25293', '41551', '56067', '67433', '22010', '64831', '62820', '62820', '78353', '57183', '23478', '30168', '37155', '16581', '41850', '81380', '56386', '25818', '15345', '57954', '50300', '38725', '10404', '26868', '72298', '72905', '47025', '29938', '46681', '46681', '29548', '62058', '36736', '8820', '14918', '56715', '24882', '24882', '40442', '64176', '23536', '35246', '28442', '48195', '74116', '78093', '59354', '36301', '77598', '62710', '36317', '42767', '43815', '44421', '48948', '48948', '63120', '55517', '36864', '82582', '79803', '52569', '82032', '82032', '65685', '65685', '40451', '31163', '31163', '35704', '7500', '36075', '70038', '70038', '71796', '47821', '45503', '28647', '37760', '85431', '72635', '72635', '77142', '53172', '36065', '73926', '35790', '39552', '68316', '102160', '51390', '72066', '21675', '48006', '65106', '58401', '29315', '49389', '51717', '46779', '28520', '34377', '54959', '82384', '46998', '58554', '58554', '57333', '80685', '52117', '62220', '64014', '64014', '46390', '75507', '75507', '59412', '50616', '35924', '57937', '73356', '21255', '58494', '72460', '68682', '68682', '36959', '46463', '61825', '61825', '28691', '28691', '54058', '84196', '38620', '38620', '3502', '47743', '80360', '66303', '52413', '60714', '31385', '83257', '80427', '38823', '42014', '42014', '76140', '41713', '62670', '70932', '78939', '44512', '63967', '90842', '25358', '28567', '66373', '66373', '83844', '83844', '83844', '83664', '27450', '54880', '71322', '60000', '65176', '61010', '31089', '20518', '34469', '28332', '33456', '38443', '65333', '82623', '73691', '74485', '65748', '24367', '91700', '79244', '82017', '58138', '59354', '58482', '29478', '64474', '31160', '40321', '40321', '55239', '57513', '85693', '71855', '7500', '71969', '28973', '80872', '84117', '38741', '38961', '75922', '56962', '56962', '70165', '65308', '29298', '63246', '33402', '96843', '82333', '72643', '32313', '55284', '15287', '15287', '51563', '81929', '53593', '60432', '66726', '62450', '49514', '43269', '33762', '60894', '87771', '87771', '50737', '26150', '57304', '71107', '53253', '81320', '87000', '40049', '63684', '69016', '7500', '73803', '46094', '85844', '38452', '38452', '80395', '87679', '35416', '44124', '50729', '94384', '94384', '34412', '31158', '34838', '56775', '54356', '72159', '8028', '55951', '67911', '67911', '20427', '32303', '55954', '49187', '49854', '63693', '63693', '19510', '52332', '55593', '54591', '74859', '40851', '58607', '7500', '52614', '52614', '67445', '67445', '67445', '36778', '39453', '42731', '40760', '69969', '80317', '66636', '54730', '42835', '53843', '79530', '63841', '63841', '63841', '27100', '27100', '72309', '50664', '20194', '76618', '45207', '56721', '27038', '23763', '37085', '49605', '1730', '34824', '34824', '63206', '26759', '55412', '33590', '70886', '72679', '65073', '44300', '56129', '56129', '38590', '53083', '79689', '34704', '65316', '41014', '19740', '23724', '55212', '55212', '79800', '70647', '38410', '28071', '54803', '74293', '74293', '35684', '34320', '41967', '49681', '49681', '53187', '86610', '70951', '24206', '55357', '58113', '70643', '64355', '82576', '41644', '72570', '30630', '22944', '86979', '82072', '52034', '72354', '28427', '28427', '39858', '67381', '23529', '51479', '76068', '22507', '52413', '50116', '76624', '34587', '62159', '66294', '5648', '37235', '85620', '23976', '41020', '36108', '57530', '62905', '65846', '34380', '41638', '63207', '28320', '43140', '52531', '40246', '35196', '35196', '70596', '70596', '52597', '42394', '81657', '49154', '34074', '70638', '38136', '67432', '40689', '40689', '101970', '44325', '61467', '48178', '16005', '79593', '79593', '61180', '64449', '77437', '17649', '53103', '71819', '74290', '72282', '47352', '47352', '46524', '50200', '18222', '77610', '38097', '44377', '58684', '66480', '49638', '50616', '26642', '33235', '23228', '36732', '82657', '64140', '44392', '16185', '38702', '54072', '61787', '34935', '34935', '59292', '59292', '57959', '92491', '42207', '46984', '23442', '46757', '14515', '80910', '30545', '44802', '79941', '79734', '50353', '77376', '78075', '42473', '25008', '56223', '47850', '91820', '40637', '23295', '84574', '54165', '28510', '67131', '56242', '86580', '76005', '54693', '52750', '36997', '34230', '47916', '60839', '79930', '55158', '85485', '75865', '44375', '60504', '65492', '67506', '68805', '61209', '66825', '87188', '84953', '74637', '86111', '77632', '31814', '70116', '48240', '40101', '70503', '79205', '51766', '62994', '65640', '38361', '38361', '19986', '19986', '72903', '45072', '59062', '61794', '45143', '45143', '26877', '36921', '54342', '62772', '75032', '22419', '22419', '36550', '75027', '63159', '54108', '81795', '59594', '18492', '94472', '70337', '34853', '16269', '50272', '22804', '22804', '30631', '78420', '81741', '25721', '31907', '37859', '30261', '21645', '21282', '32144', '62637', '16626', '54690', '54690', '61284', '23718', '33419', '82025', '15056', '48192', '67309', '66033', '28769', '6835', '32880', '23616', '19419', '34961', '64892', '16248', '43776', '52074', '22123', '35544', '59060', '65665', '29819', '81217', '81217', '26095', '65706', '31859', '93027', '58710', '49618', '58308', '40800', '18690', '18690', '18690', '28087', '75702', '32892', '32892', '89120', '27116', '46107', '54466', '59686', '82460', '76045', '83829', '83829', '32889', '33462', '36627', '28718', '77981', '60230', '74918', '40464', '64857', '64857', '63381', '63381', '66664', '66664', '86358', '41443', '57072', '54178', '48767', '51124', '43020', '49980', '72906', '25176', '96876', '31086', '24072', '76773', '72190', '83837', '17345', '75154', '28249', '28249', '69661', '27922', '45903', '36273', '70777', '17148', '66476', '45057', '41120', '19485', '21840', '41473', '31395', '68117', '47682', '83151', '58086', '84460', '66565', '23910', '35893', '71128', '38683', '37150', '61064', '51650', '55249', '46854', '14421', '54132', '153924', '64813', '61872', '58025', '83790', '34350', '33438', '21955', '60491', '59304', '34421', '34421', '51411', '71964', '64504', '49678', '60482', '55260', '67369', '47175', '68743', '56937', '83033', '37697', '37697', '44689', '23162', '63033', '40304', '40059', '80067', '36038', '40521', '66334', '11012', '31615', '69098', '70792', '17688', '25443', '57091', '24336', '51111', '44503', '56850', '66582', '23148', '82224', '61917', '43482', '68274', '42373', '57537', '80995', '30992', '30992', '78642', '74268', '75072', '56253', '59925', '62807', '62807', '23626', '46106', '81168', '27244', '26091', '26091', '43142', '38232', '92533', '63285', '38946', '38946', '40233', '46831', '67605', '70379', '77297', '55759', '58217', '51369', '51369', '91249', '52513', '44159', '76081', '76081', '39996', '55012', '77457', '80695', '71866', '73450', '55614', '156924', '30753', '54603', '22280', '59385', '76998', '80573', '80573', '24711', '38829', '71466', '28839', '53790', '73705', '22448', '12571', '73113', '35765', '46734', '66313', '68148', '44393', '38197', '51012', '51012', '13672', '41452', '42081', '14906', '33812', '46098', '46098', '46098', '53230', '88420', '39548', '61278', '81246', '58330', '58330', '65777', '70829', '59247', '25930', '54753', '28440', '23559', '62335', '63777', '59666', '50965', '71488', '72228', '46231', '75702', '43300', '78618', '29760', '29760', '50127', '29604', '49413', '51876', '45837', '85696', '85696', '59432', '43185', '60631', '20559', '50898', '73807', '14661', '36807', '46772', '81574', '30772', '46377', '78128', '83443', '50523', '47009', '37054', '32011', '82122', '70300', '21024', '34916', '27943', '39791', '62745', '18589', '85606', '26997', '82332', '38853', '27071', '90933', '65814', '74250', '33181', '45006', '42315', '48699', '59111', '48726', '37244', '74854', '60896', '67546', '67546', '46923', '38988', '49118', '27683', '39190', '56981', '23228', '90000', '55707', '9255', '42997', '71232', '57744', '33585', '46891', '46891', '50387', '76653', '76542', '76995', '38415', '22304', '75127', '75127', '39722', '7144', '39771', '42618', '51518', '74716', '33955', '45736', '31632', '60093', '30822', '41728', '80739', '49767', '34445', '67046', '73538', '80398', '52973', '38998', '38998', '26490', '26490', '23331', '60544', '60544', '49269', '27203', '45204', '67023', '77583', '76630', '47353', '48920', '67472', '64100', '38872', '72217', '15038', '13624', '42554', '71952', '71952', '78041', '63972', '52852', '62010', '83151', '77870', '46931', '85072', '73395', '62307', '58293', '47889', '24594', '24594', '69882', '24221', '22327', '61923', '35791', '35791', '91172', '35441', '19656', '7500', '71626', '75330', '34529', '48789', '34487', '35688', '35688', '53700', '73454', '71113', '31535', '80812', '40479', '29440', '38508', '69520', '18701', '18701', '69901', '47703', '86037', '71847', '42033', '51983', '68655', '68655', '38285', '79419', '57338', '42523', '42523', '31761', '65747', '17144', '17144', '84618', '84618', '66375', '42213', '51141', '15072', '7500', '17117', '59754', '65569', '28457', '86857', '86857', '68142', '48794', '63404', '49669', '55761', '78331', '37971', '30368', '34043', '54111', '69932', '39665', '93404', '38680', '24570', '77766', '77766', '64961', '23748', '45989', '23331', '70421', '23091', '24683', '157243', '54222', '73455', '84906', '84906', '47025', '44529', '31560', '90687', '66973', '41154', '64590', '50611', '50611', '83273', '81702', '24401', '42557', '7500', '78416', '44794', '44794', '69719', '62568', '42231', '20130', '20130', '42429', '42429', '36640', '78901', '66476', '31056', '46310', '65819', '94871']

In [156]:
final_list=[]
for x in dot:
  x=int(x)
  final_list.append(x)
print(final_list)

[84835, 57091, 67267, 32474, 21474, 71691, 63564, 44931, 65324, 65324, 81044, 62499, 67786, 26872, 4428, 54809, 54809, 32173, 47823, 30523, 36634, 43456, 40662, 49544, 57731, 33168, 54450, 54450, 35340, 73170, 65808, 79529, 34578, 46374, 18351, 95169, 65370, 39228, 84865, 61314, 21359, 66465, 81698, 39146, 25959, 64260, 32300, 74806, 72967, 48904, 14796, 66991, 52195, 90369, 18393, 47139, 38576, 61905, 83715, 60597, 6560, 48330, 38236, 22701, 53367, 34728, 63915, 82504, 38578, 38578, 79174, 81975, 43263, 27242, 76445, 75276, 34213, 72335, 79143, 27469, 68695, 68695, 50388, 77622, 46102, 31859, 23830, 24639, 71604, 27255, 55375, 77037, 24163, 69476, 72063, 58646, 58646, 47570, 80011, 54998, 60200, 63211, 48432, 48432, 48432, 62845, 62845, 65220, 74214, 96547, 53863, 50447, 37716, 45203, 37368, 67225, 65104, 65104, 81698, 70566, 69096, 71434, 33039, 33039, 46610, 49967, 53359, 49505, 68657, 72071, 72071, 59235, 21994, 21994, 69209, 31928, 74004, 30390, 21355, 26304, 85710, 102692, 58350, 7500, 18890, 20425, 20425, 41437, 49912, 49912, 79823, 85683, 47025, 68397, 38175, 46423, 46423, 30560, 30560, 60152, 29672, 29672, 70321, 56181, 24279, 68462, 55424, 49094, 59184, 67430, 30522, 31878, 83528, 90300, 68092, 53761, 52845, 24027, 7500, 42586, 42586, 9722, 86836, 30467, 54549, 19444, 69245, 72968, 48686, 73687, 82716, 35523, 60554, 64090, 61559, 71670, 67680, 54386, 64108, 69702, 47958, 67716, 34600, 34600, 48752, 15716, 46610, 74985, 45576, 113734, 57100, 24434, 37126, 45160, 33178, 64866, 34176, 50014, 92344, 55282, 48799, 84169, 84169, 39763, 74165, 42720, 65275, 36443, 43776, 56046, 65148, 49431, 32583, 16653, 26850, 51287, 43050, 73448, 17256, 86429, 33569, 25130, 62998, 26907, 26907, 45579, 47320, 70179, 70179, 28072, 50501, 58917, 69372, 35178, 35178, 75693, 69109, 69109, 80134, 64713, 41411, 55521, 43795, 22070, 36408, 34026, 34026, 46049, 35641, 32414, 59821, 34968, 56320, 70091, 46097, 41003, 44911, 33249, 33249, 42873, 51039, 78952, 29435, 79865, 34176, 34176, 65968, 86424, 67272, 78499, 77044, 70515, 17459, 80336, 15759, 26326, 62061, 5305, 75777, 75777, 71499, 31626, 42670, 83917, 41021, 79456, 78789, 50870, 35876, 23539, 32557, 62466, 62466, 54198, 82170, 61798, 15253, 78285, 62535, 27190, 48985, 72940, 36145, 157146, 81843, 41883, 45759, 45759, 78394, 30279, 30279, 31880, 60208, 78687, 37401, 37401, 75315, 69263, 78569, 57705, 74805, 66426, 51529, 18100, 59601, 20981, 74068, 36790, 18793, 27421, 30675, 83145, 34053, 31788, 45894, 41986, 42769, 58582, 49096, 76412, 18929, 18929, 18929, 21888, 41580, 31605, 25509, 25509, 33051, 28764, 32146, 22148, 36781, 54197, 93790, 24762, 30477, 11448, 70844, 30828, 62513, 27733, 39435, 75345, 20491, 36715, 71706, 69063, 24645, 35797, 44078, 26954, 38887, 65463, 53537, 36230, 80763, 60585, 49166, 75261, 89891, 72828, 75278, 38557, 81300, 60161, 69389, 64497, 61014, 44319, 53233, 77972, 81361, 81361, 25707, 42403, 65704, 37406, 39767, 54210, 57136, 40794, 83003, 89058, 20193, 72099, 43824, 66653, 44359, 79410, 55842, 79946, 88194, 80184, 76982, 65295, 57100, 29009, 78931, 7500, 56939, 64509, 30093, 30351, 30351, 38201, 43974, 38200, 87305, 16860, 27213, 7500, 4861, 38196, 41145, 38513, 45688, 77863, 42169, 45906, 35388, 80952, 39898, 39898, 44051, 86718, 80141, 58597, 70356, 46904, 37760, 37760, 61839, 29791, 48918, 48918, 58692, 39356, 76234, 55434, 66835, 66835, 71965, 74538, 50002, 53977, 53977, 69930, 62981, 46014, 18227, 65991, 38808, 160803, 43783, 30396, 65526, 65526, 55956, 55563, 57236, 89694, 57420, 33622, 29999, 31497, 31497, 36802, 61671, 60182, 29732, 45921, 16529, 98777, 98777, 77027, 69139, 69139, 65169, 40049, 69755, 54456, 666666, 60689, 26487, 28164, 22585, 64795, 42000, 42000, 70713, 82800, 82800, 30801, 83891, 38054, 14045, 44155, 57642, 31353, 31353, 41335, 41335, 40737, 19789, 35946, 36262, 44551, 71367, 71367, 57957, 50334, 48150, 56796, 56796, 52278, 52278, 7500, 33444, 20895, 37509, 88097, 59041, 43322, 46015, 46015, 34242, 65210, 50520, 90765, 80589, 49572, 75437, 44635, 58512, 62000, 54252, 45068, 60474, 60474, 56337, 22434, 61416, 92163, 58656, 8940, 26751, 71427, 26646, 19346, 56243, 59892, 71613, 25252, 42160, 15862, 82584, 38360, 75283, 34941, 61823, 90226, 44989, 44989, 43586, 32233, 62882, 57288, 75774, 75774, 90247, 32218, 84219, 84219, 48877, 60905, 75236, 62551, 70123, 50785, 15315, 15315, 64413, 87171, 30081, 20180, 20180, 55686, 26887, 61996, 51537, 72025, 30538, 61618, 77343, 75433, 82571, 60033, 39062, 30023, 30015, 33228, 22574, 22574, 55267, 66886, 72258, 82733, 45146, 51250, 32871, 63855, 42564, 46344, 50437, 70971, 37774, 4023, 33279, 42693, 70545, 65486, 77882, 78468, 77226, 90638, 90638, 70666, 59052, 13084, 49160, 23272, 49476, 62694, 57906, 71853, 71853, 65031, 30507, 67419, 59462, 95529, 53653, 25965, 22979, 64950, 44322, 30096, 30096, 56628, 82326, 71163, 71022, 42607, 43057, 47808, 29236, 40590, 40590, 77520, 40211, 63516, 53034, 22669, 79908, 69867, 70287, 37070, 37070, 38179, 39922, 39922, 39922, 64191, 41658, 40780, 77568, 66503, 83512, 31686, 71322, 27938, 22263, 34633, 42162, 162397, 54162, 41769, 44953, 37717, 37717, 40548, 67893, 69267, 9548, 68281, 92556, 48526, 90273, 19414, 79761, 53312, 41039, 88347, 50150, 50150, 10245, 33454, 40887, 55914, 37292, 52914, 24884, 67384, 51651, 82497, 32632, 33562, 79146, 79146, 36143, 27159, 41275, 76800, 75794, 30833, 26518, 91065, 45183, 48070, 30372, 30372, 57036, 66731, 35682, 10979, 10979, 57912, 36026, 35788, 42243, 46086, 61346, 33316, 33316, 21063, 33697, 25804, 72117, 61286, 61286, 65196, 55635, 42021, 75251, 35322, 53374, 87195, 42395, 82427, 44602, 94642, 28359, 55801, 92955, 56534, 69627, 78579, 44964, 30899, 78825, 25545, 47111, 49667, 66000, 46910, 25224, 77382, 28420, 32952, 46149, 83532, 73059, 73059, 35701, 89616, 105471, 78427, 22518, 59809, 39660, 52203, 35860, 35860, 35860, 35860, 76842, 15033, 67353, 17003, 65735, 45684, 21918, 51267, 59868, 51373, 46692, 157733, 54432, 79607, 51813, 17487, 40706, 62859, 61074, 43638, 58116, 62187, 46344, 77353, 69759, 21846, 76532, 70053, 75342, 27590, 51148, 33378, 32644, 33581, 12393, 42710, 82347, 82347, 22554, 17323, 62204, 78028, 63887, 32727, 29103, 61482, 20587, 20587, 52190, 48186, 19329, 34109, 23477, 47472, 14849, 26224, 27238, 57967, 51569, 72550, 44511, 62972, 62972, 77845, 36663, 53204, 21059, 67087, 73892, 75114, 42192, 31454, 22775, 22775, 31590, 80134, 80134, 14188, 18169, 62503, 46734, 68126, 52869, 26576, 75825, 57045, 34984, 27803, 69283, 18746, 70924, 70924, 69401, 75012, 85738, 60934, 27161, 64325, 18978, 41124, 39684, 53378, 37040, 78710, 92910, 36283, 79632, 28587, 88325, 51412, 63998, 38593, 27889, 45889, 56575, 16014, 61331, 70893, 2447, 64849, 42387, 80617, 54006, 16531, 30843, 18988, 81051, 39747, 34554, 52854, 81205, 69084, 69084, 65352, 22063, 47691, 29187, 72504, 33986, 42386, 42386, 36957, 13724, 42664, 37334, 78497, 78497, 58821, 58398, 80950, 30732, 89572, 57107, 76467, 51315, 43602, 38643, 49090, 70617, 67536, 27573, 13533, 50725, 25851, 57113, 62847, 68627, 25271, 63810, 63810, 65488, 36927, 22108, 72025, 33183, 23661, 25315, 45938, 66951, 77298, 77298, 43018, 75759, 33996, 33996, 54137, 61223, 69674, 49494, 51195, 37284, 37284, 42011, 70044, 46053, 24480, 54233, 36130, 56559, 92859, 44010, 80124, 80124, 50183, 64722, 37395, 29543, 19514, 19514, 59481, 91712, 80144, 59973, 68352, 81169, 61456, 22634, 22634, 23957, 33471, 52157, 30298, 56551, 56551, 65487, 65487, 44213, 40344, 57867, 25410, 13260, 42691, 36138, 57136, 58275, 54237, 34596, 34596, 74881, 74881, 44267, 68487, 68487, 80982, 69508, 63342, 63342, 82014, 76320, 64587, 74190, 32765, 22212, 18358, 26067, 22390, 70440, 60199, 38547, 19107, 37929, 16813, 62187, 57811, 50943, 50943, 53201, 54414, 26290, 61250, 28389, 55250, 37758, 37758, 37633, 33629, 36947, 69142, 53154, 65695, 69805, 36975, 26228, 37787, 37087, 57247, 36930, 48721, 43641, 75903, 71391, 16927, 27215, 53858, 30983, 43462, 63943, 26816, 75484, 33564, 54348, 54984, 34738, 68118, 68118, 22682, 51948, 25293, 25293, 41551, 56067, 67433, 22010, 64831, 62820, 62820, 78353, 57183, 23478, 30168, 37155, 16581, 41850, 81380, 56386, 25818, 15345, 57954, 50300, 38725, 10404, 26868, 72298, 72905, 47025, 29938, 46681, 46681, 29548, 62058, 36736, 8820, 14918, 56715, 24882, 24882, 40442, 64176, 23536, 35246, 28442, 48195, 74116, 78093, 59354, 36301, 77598, 62710, 36317, 42767, 43815, 44421, 48948, 48948, 63120, 55517, 36864, 82582, 79803, 52569, 82032, 82032, 65685, 65685, 40451, 31163, 31163, 35704, 7500, 36075, 70038, 70038, 71796, 47821, 45503, 28647, 37760, 85431, 72635, 72635, 77142, 53172, 36065, 73926, 35790, 39552, 68316, 102160, 51390, 72066, 21675, 48006, 65106, 58401, 29315, 49389, 51717, 46779, 28520, 34377, 54959, 82384, 46998, 58554, 58554, 57333, 80685, 52117, 62220, 64014, 64014, 46390, 75507, 75507, 59412, 50616, 35924, 57937, 73356, 21255, 58494, 72460, 68682, 68682, 36959, 46463, 61825, 61825, 28691, 28691, 54058, 84196, 38620, 38620, 3502, 47743, 80360, 66303, 52413, 60714, 31385, 83257, 80427, 38823, 42014, 42014, 76140, 41713, 62670, 70932, 78939, 44512, 63967, 90842, 25358, 28567, 66373, 66373, 83844, 83844, 83844, 83664, 27450, 54880, 71322, 60000, 65176, 61010, 31089, 20518, 34469, 28332, 33456, 38443, 65333, 82623, 73691, 74485, 65748, 24367, 91700, 79244, 82017, 58138, 59354, 58482, 29478, 64474, 31160, 40321, 40321, 55239, 57513, 85693, 71855, 7500, 71969, 28973, 80872, 84117, 38741, 38961, 75922, 56962, 56962, 70165, 65308, 29298, 63246, 33402, 96843, 82333, 72643, 32313, 55284, 15287, 15287, 51563, 81929, 53593, 60432, 66726, 62450, 49514, 43269, 33762, 60894, 87771, 87771, 50737, 26150, 57304, 71107, 53253, 81320, 87000, 40049, 63684, 69016, 7500, 73803, 46094, 85844, 38452, 38452, 80395, 87679, 35416, 44124, 50729, 94384, 94384, 34412, 31158, 34838, 56775, 54356, 72159, 8028, 55951, 67911, 67911, 20427, 32303, 55954, 49187, 49854, 63693, 63693, 19510, 52332, 55593, 54591, 74859, 40851, 58607, 7500, 52614, 52614, 67445, 67445, 67445, 36778, 39453, 42731, 40760, 69969, 80317, 66636, 54730, 42835, 53843, 79530, 63841, 63841, 63841, 27100, 27100, 72309, 50664, 20194, 76618, 45207, 56721, 27038, 23763, 37085, 49605, 1730, 34824, 34824, 63206, 26759, 55412, 33590, 70886, 72679, 65073, 44300, 56129, 56129, 38590, 53083, 79689, 34704, 65316, 41014, 19740, 23724, 55212, 55212, 79800, 70647, 38410, 28071, 54803, 74293, 74293, 35684, 34320, 41967, 49681, 49681, 53187, 86610, 70951, 24206, 55357, 58113, 70643, 64355, 82576, 41644, 72570, 30630, 22944, 86979, 82072, 52034, 72354, 28427, 28427, 39858, 67381, 23529, 51479, 76068, 22507, 52413, 50116, 76624, 34587, 62159, 66294, 5648, 37235, 85620, 23976, 41020, 36108, 57530, 62905, 65846, 34380, 41638, 63207, 28320, 43140, 52531, 40246, 35196, 35196, 70596, 70596, 52597, 42394, 81657, 49154, 34074, 70638, 38136, 67432, 40689, 40689, 101970, 44325, 61467, 48178, 16005, 79593, 79593, 61180, 64449, 77437, 17649, 53103, 71819, 74290, 72282, 47352, 47352, 46524, 50200, 18222, 77610, 38097, 44377, 58684, 66480, 49638, 50616, 26642, 33235, 23228, 36732, 82657, 64140, 44392, 16185, 38702, 54072, 61787, 34935, 34935, 59292, 59292, 57959, 92491, 42207, 46984, 23442, 46757, 14515, 80910, 30545, 44802, 79941, 79734, 50353, 77376, 78075, 42473, 25008, 56223, 47850, 91820, 40637, 23295, 84574, 54165, 28510, 67131, 56242, 86580, 76005, 54693, 52750, 36997, 34230, 47916, 60839, 79930, 55158, 85485, 75865, 44375, 60504, 65492, 67506, 68805, 61209, 66825, 87188, 84953, 74637, 86111, 77632, 31814, 70116, 48240, 40101, 70503, 79205, 51766, 62994, 65640, 38361, 38361, 19986, 19986, 72903, 45072, 59062, 61794, 45143, 45143, 26877, 36921, 54342, 62772, 75032, 22419, 22419, 36550, 75027, 63159, 54108, 81795, 59594, 18492, 94472, 70337, 34853, 16269, 50272, 22804, 22804, 30631, 78420, 81741, 25721, 31907, 37859, 30261, 21645, 21282, 32144, 62637, 16626, 54690, 54690, 61284, 23718, 33419, 82025, 15056, 48192, 67309, 66033, 28769, 6835, 32880, 23616, 19419, 34961, 64892, 16248, 43776, 52074, 22123, 35544, 59060, 65665, 29819, 81217, 81217, 26095, 65706, 31859, 93027, 58710, 49618, 58308, 40800, 18690, 18690, 18690, 28087, 75702, 32892, 32892, 89120, 27116, 46107, 54466, 59686, 82460, 76045, 83829, 83829, 32889, 33462, 36627, 28718, 77981, 60230, 74918, 40464, 64857, 64857, 63381, 63381, 66664, 66664, 86358, 41443, 57072, 54178, 48767, 51124, 43020, 49980, 72906, 25176, 96876, 31086, 24072, 76773, 72190, 83837, 17345, 75154, 28249, 28249, 69661, 27922, 45903, 36273, 70777, 17148, 66476, 45057, 41120, 19485, 21840, 41473, 31395, 68117, 47682, 83151, 58086, 84460, 66565, 23910, 35893, 71128, 38683, 37150, 61064, 51650, 55249, 46854, 14421, 54132, 153924, 64813, 61872, 58025, 83790, 34350, 33438, 21955, 60491, 59304, 34421, 34421, 51411, 71964, 64504, 49678, 60482, 55260, 67369, 47175, 68743, 56937, 83033, 37697, 37697, 44689, 23162, 63033, 40304, 40059, 80067, 36038, 40521, 66334, 11012, 31615, 69098, 70792, 17688, 25443, 57091, 24336, 51111, 44503, 56850, 66582, 23148, 82224, 61917, 43482, 68274, 42373, 57537, 80995, 30992, 30992, 78642, 74268, 75072, 56253, 59925, 62807, 62807, 23626, 46106, 81168, 27244, 26091, 26091, 43142, 38232, 92533, 63285, 38946, 38946, 40233, 46831, 67605, 70379, 77297, 55759, 58217, 51369, 51369, 91249, 52513, 44159, 76081, 76081, 39996, 55012, 77457, 80695, 71866, 73450, 55614, 156924, 30753, 54603, 22280, 59385, 76998, 80573, 80573, 24711, 38829, 71466, 28839, 53790, 73705, 22448, 12571, 73113, 35765, 46734, 66313, 68148, 44393, 38197, 51012, 51012, 13672, 41452, 42081, 14906, 33812, 46098, 46098, 46098, 53230, 88420, 39548, 61278, 81246, 58330, 58330, 65777, 70829, 59247, 25930, 54753, 28440, 23559, 62335, 63777, 59666, 50965, 71488, 72228, 46231, 75702, 43300, 78618, 29760, 29760, 50127, 29604, 49413, 51876, 45837, 85696, 85696, 59432, 43185, 60631, 20559, 50898, 73807, 14661, 36807, 46772, 81574, 30772, 46377, 78128, 83443, 50523, 47009, 37054, 32011, 82122, 70300, 21024, 34916, 27943, 39791, 62745, 18589, 85606, 26997, 82332, 38853, 27071, 90933, 65814, 74250, 33181, 45006, 42315, 48699, 59111, 48726, 37244, 74854, 60896, 67546, 67546, 46923, 38988, 49118, 27683, 39190, 56981, 23228, 90000, 55707, 9255, 42997, 71232, 57744, 33585, 46891, 46891, 50387, 76653, 76542, 76995, 38415, 22304, 75127, 75127, 39722, 7144, 39771, 42618, 51518, 74716, 33955, 45736, 31632, 60093, 30822, 41728, 80739, 49767, 34445, 67046, 73538, 80398, 52973, 38998, 38998, 26490, 26490, 23331, 60544, 60544, 49269, 27203, 45204, 67023, 77583, 76630, 47353, 48920, 67472, 64100, 38872, 72217, 15038, 13624, 42554, 71952, 71952, 78041, 63972, 52852, 62010, 83151, 77870, 46931, 85072, 73395, 62307, 58293, 47889, 24594, 24594, 69882, 24221, 22327, 61923, 35791, 35791, 91172, 35441, 19656, 7500, 71626, 75330, 34529, 48789, 34487, 35688, 35688, 53700, 73454, 71113, 31535, 80812, 40479, 29440, 38508, 69520, 18701, 18701, 69901, 47703, 86037, 71847, 42033, 51983, 68655, 68655, 38285, 79419, 57338, 42523, 42523, 31761, 65747, 17144, 17144, 84618, 84618, 66375, 42213, 51141, 15072, 7500, 17117, 59754, 65569, 28457, 86857, 86857, 68142, 48794, 63404, 49669, 55761, 78331, 37971, 30368, 34043, 54111, 69932, 39665, 93404, 38680, 24570, 77766, 77766, 64961, 23748, 45989, 23331, 70421, 23091, 24683, 157243, 54222, 73455, 84906, 84906, 47025, 44529, 31560, 90687, 66973, 41154, 64590, 50611, 50611, 83273, 81702, 24401, 42557, 7500, 78416, 44794, 44794, 69719, 62568, 42231, 20130, 20130, 42429, 42429, 36640, 78901, 66476, 31056, 46310, 65819, 94871]

In [157]:
length=len(df[" Income "])
length

2216

In [158]:
  df[" Income "]=final_list
  df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Year_Birth Education  ... MntSweetProducts  MntGoldProds
0           1970         0  ...              189           218
1           1961         0  ...                0            37
2           1958         0  ...                2            30
3           1967         0  ...                0             0
4           1989         0  ...                0            34
...          ...       ...  ...              ...           ...
2235        1976         1  ...               48            78
2236        1977         2  ...                8            16
2237        1976         0  ...                5            14
2238        1978         0  ...              165            63
2239        1969         1  ...                0           144

[2216 rows x 13 columns]

In [159]:
df

      Year_Birth Education  ... MntSweetProducts  MntGoldProds
0           1970         0  ...              189           218
1           1961         0  ...                0            37
2           1958         0  ...                2            30
3           1967         0  ...                0             0
4           1989         0  ...                0            34
...          ...       ...  ...              ...           ...
2235        1976         1  ...               48            78
2236        1977         2  ...                8            16
2237        1976         0  ...                5            14
2238        1978         0  ...              165            63
2239        1969         1  ...                0           144

[2216 rows x 13 columns]

In [163]:
y=df["MntWines"]
y

0       189
1       464
2       134
3        10
4         6
       ...
2235    372
2236      5
2237    185
2238    267
2239    169
Name: MntWines, Length: 2216, dtype: int64

In [164]:
 x=df.drop(columns=['MntWines','MntFruits','MntMeatProducts',"MntFishProducts","MntSweetProducts","MntGoldProds"])
 x

      Year_Birth Education Marital_Status   Income   Kidhome  Teenhome  Recency
0           1970         0              0     84835        0         0        0
1           1961         0              1     57091        0         0        0
2           1958         0              3     67267        0         1        0
3           1967         0              2     32474        1         1        0
4           1989         0              1     21474        1         0        0
...          ...       ...            ...       ...      ...       ...      ...
2235        1976         1              0     66476        0         1       99
2236        1977         2              3     31056        1         0       99
2237        1976         0              0     46310        1         0       99
2238        1978         0              3     65819        0         0       99
2239        1969         1              3     94871        0         2       99

[2216 rows x 7 columns]

In [166]:
y

0       189
1       464
2       134
3        10
4         6
       ...
2235    372
2236      5
2237    185
2238    267
2239    169
Name: MntWines, Length: 2216, dtype: int64

In [167]:
from sklearn.linear_model import LinearRegression
liner_reg=LinearRegression()
liner_reg.fit(x,y.values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [168]:
y_pred=liner_reg.predict(x)

In [169]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
import numpy as np
error=np.sqrt(mean_squared_error(y,y_pred))

In [170]:
error

258.39021990490295

In [171]:
from sklearn.tree import DecisionTreeRegressor
dec_tree=DecisionTreeRegressor(random_state=0)
dec_tree.fit(x,y.values)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [172]:
y_pred1=dec_tree.predict(x)

In [173]:
error=np.sqrt(mean_squared_error(y,y_pred1))

In [174]:
error

0.0

In [175]:
from sklearn.ensemble import RandomForestRegressor
ran_tree=RandomForestRegressor(random_state=0)
ran_tree.fit(x,y.values)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [176]:
y_pred2=ran_tree.predict(x)

In [177]:
error=np.sqrt(mean_squared_error(y,y_pred2))

In [178]:
error

79.86494741293428

In [187]:
x=np.array([[19811,0,20000,0,0,0,0]])
x

array([[19811,     0, 20000,     0,     0,     0,     0]])

In [188]:
y_pred=dec_tree.predict(x)
y_pred

array([16.])

In [189]:
import pickle

In [190]:
pickle.dump(dec_tree,open('pickel_model.pkl','wb'))

model=pickle.load(open('pickel_model.pkl','rb'))

In [191]:
y_pred=dec_tree.predict(x)
print(y_pred)

[16.]